@charset "UTF-8";
/* The MAIN'S BLOCK style - start*/
body > main#main {
  min-width: 283px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: initial;
  margin-bottom: 37px;
  background-color: var(--color_bg);
}
body > main#main section.categoryMenu:nth-child(3) {
  display: none;
}

.categoryMenu {
  background-color: var(--color_font);
  padding: 8px 0 6px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}
.categoryMenu .categoryMenu__nav {
  display: inline-block;
  margin: 0px 0 0 2px;
}
.categoryMenu .categoryMenu__nav.header__nav.header__nav_activity ul {
  left: initial;
}
.categoryMenu .categoryMenu__nav.header__nav.header__nav_activity ul::before {
  left: 9px;
}
.categoryMenu .header__contact {
  display: inline-block;
  vertical-align: top;
  padding: 15px 0 0px 33px;
  margin-left: 0px;
  float: right;
}
.categoryMenu .header__contact > ul > li {
  display: none;
}
.categoryMenu .header__contact > ul > li:first-child {
  display: inline-block;
}
.categoryMenu .header__contact > ul > li:first-child a {
  color: #fff;
}
.categoryMenu .header__contact .header__phone a {
  font-size: 1.05em;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  letter-spacing: 0.02em;
}
.categoryMenu .header__contact::after {
  display: none;
}

.categoryMenu__button {
  display: none;
}

/* --Categories style - start */
section.category {
  padding-top: 34px;
  margin-bottom: 45px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.main__title {
  display: block;
  padding-left: 50px;
  margin-bottom: 11px;
  width: 100%;
}
.main__title h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0em;
  text-align: left;
  color: var(--color_font);
  padding: initial;
  letter-spacing: 0.1px;
}

/* --Categories style - end */
#navCatalog {
  float: none;
  clear: both;
  display: block;
}

.catalog {
  height: 376px;
  overflow: hidden;
  margin-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 19px;
  width: inherit;
}

.catalog__look {
  display: none;
}

.catalog__look.look {
  position: absolute;
  padding: 5px;
  z-index: 50;
  background-color: rgba(93, 91, 97, 0.54);
  width: auto;
  height: auto;
  overflow: hidden;
  display: inline-block;
  top: 0;
  left: 0px;
}

.catalog__furniture {
  width: 100%;
  max-width: 254px;
  height: 171px;
  padding: 14.34px 9px 13px 12px;
  border-radius: 10px;
  background-color: #fff;
  /* margin-left: 37px; */
  /* margin: 0 auto;
  margin-bottom: 17px;
   */
  /* border: 1px var(--backg_page) solid; */
}
.catalog__furniture .catalog__furniture {
  padding-top: 18px;
  padding-right: initial;
  height: 368px;
  margin-bottom: 30px;
}
.catalog__furniture .catalog__furniture::before {
  content: "%";
  color: #fff;
  font-size: 2.5em;
  text-align: center;
  padding-top: 10px;
  background: no-repeat url(/resta/img/svg/percent.svg);
  width: 38px;
  height: 52px;
  z-index: 5;
  right: 10px;
  top: -8px;
}
.catalog__furniture .catalog__furniture div:first-child {
  border: 0;
  margin-bottom: initial;
}
.catalog__furniture .catalog__furniture div .catalog__foto {
  width: 226px;
  height: 149px;
  display: block;
  margin-bottom: 20px;
}
.catalog__furniture .catalog__furniture div .catalog__foto img {
  width: 99%;
}
.catalog__furniture .catalog__furniture div .catalog__title {
  width: 100%;
}
.catalog__furniture .catalog__furniture div .catalog__title h3 {
  letter-spacing: 0.1px;
}
.catalog__furniture .catalog__furniture .catalog__inCart {
  background: initial;
  text-align: left;
  height: 25px;
  width: 120px;
  background: no-repeat url(/resta/img/svg/right.svg) calc(100% - 2px) 7px;
  /* background-size: 15px; */
}
.catalog__furniture .catalog__furniture .catalog__inCart a {
  color: var(--backg_page);
  word-spacing: -2.5px;
  text-transform: initial;
}
.catalog__furniture > div:first-child {
  border-bottom: 1px var(--backg_page) solid;
  padding-bottom: 3px;
}
.catalog__furniture > div .catalog__foto {
  width: 66px;
  height: 48px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}
.catalog__furniture > div .catalog__title {
  width: 125px;
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
}
.catalog__furniture > div .catalog__title > div {
  margin-bottom: 1px;
  margin-left: 3.8px;
}
.catalog__furniture > div .catalog__title h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.catalog__furniture > div .catalog__title span {
  color: var(--backg_page);
  font-size: 12px;
  text-decoration: underline;
  vertical-align: top;
  margin-left: 3.8px;
}
.catalog__furniture .catalog__info_v2 {
  display: none;
}
.catalog__furniture .catalog__info {
  padding-top: 7.34px;
}
.catalog__furniture .catalog__info li {
  padding-left: 20.18px;
  background: url("/resta/img/svg/li_table.svg") 0 0 no-repeat, url("/resta/img/svg/001.svg") right no-repeat;
  height: 18px;
  margin-bottom: 5px;
}
.catalog__furniture .catalog__info li a {
  color: var(--color_font);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
.catalog__furniture catalog__info_v2 {
  display: none;
}
.catalog__furniture > div:nth-child(4) {
  width: 100%;
  height: 15px;
  text-align: left;
  padding-top: 4px;
  padding-left: 10px;
}
.catalog__furniture > div:nth-child(4) > span {
  display: inline-block;
  border: 1px solid var(--color_font);
  width: 5px;
  height: 5px;
  border-radius: 5px;
  vertical-align: top;
}
.catalog__furniture .catalog__inCart {
  height: 20px;
  background: no-repeat url(/resta/img/svg/003.svg) 149px 0;
}
.catalog__furniture .catalog__inCart a {
  color: var(--color_normal);
  text-decoration: underline;
  text-transform: lowercase;
  letter-spacing: 0.35px;
}

.catalog__allProduct {
  padding-left: 52px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.catalog__allProduct a {
  display: inline-block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background: no-repeat url(/resta/img/svg/rght.svg) 200px 0;
  padding-right: 30px;
  color: var(--color_normal);
}

/* --cpecial offers - start */
.cpetialOffers {
  height: 830px;
  overflow: hidden;
  padding-bottom: 10px;
  margin-bottom: 26px;
}
.cpetialOffers .main__title {
  margin-bottom: 16px;
}
.cpetialOffers > div .catalog__title {
  width: 100%;
  padding-left: 0px;
  height: 63.6px;
}
.cpetialOffers > div .catalog__title h3 {
  color: var(--color_font);
  letter-spacing: -1.3px;
  line-height: 1.2;
}
.cpetialOffers > div .catalog__title > div:first-child {
  margin-bottom: 2px;
}
.cpetialOffers > div:last-child {
  gap: 15px;
}
.cpetialOffers .catalog__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-diraction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 2px;
  margin-bottom: 3px;
}
.cpetialOffers .catalog__price > div:first-child {
  width: 100px;
  margin-bottom: 13px;
}
.cpetialOffers .catalog__price > div:first-child span {
  color: var(--color_normal);
}
.cpetialOffers .catalog__price > div:first-child span:last-child {
  margin-left: 5px;
}
.cpetialOffers .catalog__price > div:nth-child(2) {
  width: 100px;
  margin-bottom: 13px;
  padding-left: 5px;
}
.cpetialOffers .catalog__price > div:nth-child(2) span:first-child::before {
  background-color: var(--backg_page);
  width: 82.9px;
  border: 1px solid var(--backg_page);
  -webkit-transform: rotate(346deg);
          transform: rotate(346deg);
  top: 10px;
  left: -2px;
}
.cpetialOffers .catalog__price > div:nth-child(2) span:first-child, .cpetialOffers .catalog__price > div:nth-child(2) span:last-child {
  color: var(--backg_page);
}
.cpetialOffers .catalog__price > div:nth-child(2) span:last-child {
  margin-left: 5px;
}
.cpetialOffers .catalog__price > div:nth-child(3) {
  width: 125px;
  padding-top: 2px;
}
.cpetialOffers .catalog__price > div:nth-child(3) button {
  width: 120px;
  height: 32px;
  background: no-repeat url("/resta/img/svg/cart.svg") calc(100% - 12px) 8px, var(--color_normal);
  color: #fff;
  text-align: left;
  padding-left: 10px;
  padding-right: 30px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
}
.cpetialOffers .catalog__price > div:nth-child(4) {
  width: 100px;
  height: 34px;
  text-align: center;
  padding-top: 4px;
  padding-left: 10px;
  background: initial;
}
.cpetialOffers .catalog__price > div:nth-child(4) a {
  display: inline-block;
  width: 90px;
  height: 18px;
  padding-right: 15px;
  color: var(--color_normal);
  background: url("/resta/img/svg/003.svg") 75px 0px no-repeat;
}

section.cpetialOffers > div:last-child {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
}
section.cpetialOffers > div:last-child .catalog__foto {
  width: 231px;
  height: 145px;
  margin-bottom: 17px;
}

section.cpetialOffers .catalog__furniture {
  height: 360px;
  margin-left: 31px;
  padding-right: 4px;
}
section.cpetialOffers .catalog__furniture::before {
  color: #fff;
  width: 38px;
  height: 52px;
  background: no-repeat url(/resta/img/svg/percent.svg) 0px 0;
  z-index: 6;
  right: 7px;
  top: -12px;
}
section.cpetialOffers .catalog__furniture .catalog__inCart {
  height: initial;
  background: no-repeat url(/resta/img/svg/right.svg) 96px 10px;
}
section.cpetialOffers div.catalog__furniture::before {
  content: "%";
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 5px;
}

.categoryMenu__nav_midle {
  display: none;
}

.main__text nav, .main__text aside {
  display: none;
}

.info-text__about-us {
  margin-bottom: 27.4px;
  position: relative;
}
.info-text__about-us .main__info-text + .main__title {
  padding-top: 40px;
}
.info-text__about-us .main__title {
  padding: 75px 0 0 47px;
  margin-right: 0;
  margin-bottom: 10px;
}
.info-text__about-us .main__title h2, .info-text__about-us .main__title h3 {
  line-height: 1.3;
  padding: initial;
  margin-right: initial;
}
.info-text__about-us .main__title h3 {
  letter-spacing: -0.3px;
}
.info-text__about-us .main__title.main__title-correct {
  padding: 0px 0 0 42px;
  margin-bottom: 17px;
}
.info-text__about-us .main__title.main__title-correct h3 {
  line-height: 1.2;
}

.info-text__bg {
  display: none;
}

.info-text__bg {
  background-color: inherit;
}

.main__info-text {
  padding-left: 37px;
  padding-top: 5px;
  margin-bottom: 15.5px;
  line-height: 1;
}
.main__info-text li {
  display: inline-block;
  margin-bottom: 8.9px;
  padding: 12px 16px 13px 17px;
}
.main__info-text .info-text__01_bg {
  background-color: #EEEEEE;
  min-height: 86px;
  height: aut;
  width: 254px;
  border-radius: 10px;
}
.main__info-text .info-text__01_hover:hover {
  background: linear-gradient(107deg, #f2b97f45, #ededed, #4e9bd440, #ff6d9742);
}

.main__info-text-property {
  width: 15em;
  margin-bottom: 12px;
  padding-left: 37.7px;
}
.main__info-text-property p {
  display: none;
}
.main__info-text-property li {
  padding: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6.5px;
  padding-top: 5px;
  width: 15em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.main__info-text-property li object {
  height: 23.86px;
  width: 21.69px;
  left: 1.15px;
  top: 0.06px;
  border-radius: 0px;
  padding: initial;
  display: inline-block;
  margin-right: 21px;
}
.main__info-text-property li span {
  vertical-align: top;
}

.main__text {
  background-color: #fff;
}

.main__info-text-correct {
  margin-bottom: 46px;
  padding-top: 10px;
}
.main__info-text-correct ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main__info-text-correct ul span {
  color: var(--color_normal);
}

.info-our-client {
  margin-bottom: 198px;
}
.info-our-client .main__title {
  padding-left: 35px;
  margin-bottom: 17px;
}
.info-our-client div.main__info-slider.main__client {
  height: 54px;
  overflow: hidden;
}
.info-our-client .main__client .carousel-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.info-our-client .main__client .carousel-inner, .info-our-client .main__client .carousel-inner > div {
  height: 54px;
}
.info-our-client .main__client {
  width: 67px;
  height: auto;
}
.info-our-client .main__client .carousel-inner > div {
  max-width: 72px;
  overflow: hidden;
  display: inline-block;
  margin-right: initial;
  margin-right: 10px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
.info-our-client .main__client .carousel-inner > div img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}
.info-our-client .main__info-slider {
  padding-left: 40.7px;
  height: 124px;
  width: 100%;
}
.info-our-client .main__info-slider .slick-slider-project div.main__slider-photo {
  width: 195px;
  height: 155px;
  overflow: inherit;
  text-align: center;
  margin: auto;
  margin-bottom: 17px;
}
.info-our-client .main__info-slider .slick-slider-project .main__slider-photo + div {
  width: 195px;
  margin: 0 auto;
}
.info-our-client .main__info-slider .carousel-control-prev {
  position: absolute;
  z-index: 5;
  left: 50px;
}
.info-our-client .main__info-slider .carousel-control-prev .carousel-control-prev-icon {
  background: no-repeat url(/resta/img/svg/slider-control-left.svg);
  z-index: 50;
  top: 2px;
  left: -15px;
}
.info-our-client .main__info-slider .carousel-control-next {
  position: absolute;
  z-index: 5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.info-our-client .main__info-slider .carousel-control-next .carousel-control-next-icon {
  background: no-repeat url(/resta/img/svg/slider-control-right.svg);
  z-index: 50;
  right: -10px;
  width: 42px;
  top: 2px;
}
.info-our-client div .main__info-slider {
  height: auto;
  margin-bottom: 61px;
}
.info-our-client .main__info-work-our {
  height: 280px;
  margin-bottom: 30px;
}
.info-our-client .main__info-work-our {
  height: 278px;
  width: 100%;
  max-width: 306px;
}
.info-our-client .main__info-work-our div {
  height: 100%;
  width: 100%;
}
.info-our-client .main__info-work-our.main__info-slider .carousel-control-prev-icon {
  top: -35px;
}
.info-our-client .main__info-work-our.main__info-slider .carousel-control-next {
  top: -74px;
}

.carousel-inner {
  overflow: initial;
}

.main__send-letters .main__title {
  padding-left: 39px;
}

.main__form-send-letters {
  padding-top: 7px;
}
.main__form-send-letters > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-decoration: column;
  margin-bottom: 9px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 39px;
}
.main__form-send-letters > div input {
  border-radius: 10px;
  background-color: #9493960f;
  text-align: left;
  /* min-width:  254px;
  max-width:  589px; */
  padding-bottom: 3px;
}
.main__form-send-letters > div textarea {
  width: 100%;
  /* 	min-width:  254px;
  	max-width:  589px; */
  height: 107px;
  padding: 0.375rem 0.75rem;
  background-color: #9493960f;
  border: 1px solid #ced4da;
}
.main__form-send-letters > div input[type=button] {
  height: 40px;
  width: 248.8374023438px;
  border-radius: 8px;
  background-color: #8C325B;
  color: #fff;
  text-align: center;
}
.main__form-send-letters .mail__button {
  padding-top: 10px;
}
.main__form-send-letters div.mail__button.mb-3 {
  margin-bottom: 2px;
}
.main__form-send-letters .mail__texterea {
  height: 40px;
  width: 254px;
  border-radius: 10px;
  background-color: #9493960f;
  text-align: left;
}
.main__form-send-letters .mail__texterea {
  width: initial;
  height: auto;
  margin-bottom: 12px;
}

.mail__sheckbox .form-check-input {
  width: 24px;
  height: 18px;
  margin-right: 5px;
}
.mail__sheckbox p {
  font-size: 13px;
  line-height: 1;
}

/* --cpecial offers - end */
/* The MAIN'S BLOCK style - end*/
@media screen and (min-width: 350px) {
  :root {
    --backg_page:#949396;
    /* фон страницы*/
    --color_active:#A41656;
    /* цвет-active */
    --color_hover:#5A082D;
    /* цвет-hover */
    --color_normal:#8C325B;
    /* цвет кнопок ссылок*/
    --color_bg: #C4C4C4;
    /* фоновый цвет */
    --primary_color: #ffffff;
    --color_font:#5D5B61;
    /* фон шапки */
    --primary__cursor: pointer;
    --primary_border:1px #949396 solid;
  }

  .catalog__furniture .catalog__inCart a, .cpetialOffers {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
  }

  .catalog__furniture .catalog__furniture .catalog__inCart a, .cpetialOffers .catalog__price > div:nth-child(4) a {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: underline;
  }

  .font-18 {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
  }

  .catalog__allProduct a {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
  }

  .catalog__furniture .catalog__furniture div .catalog__title h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }

  .cpetialOffers .catalog__price > div:nth-child(2) span:first-child, .cpetialOffers .catalog__price > div:nth-child(2) span:last-child {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }

  .cpetialOffers .catalog__price > div:first-child span {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }

  .cpetialOffers .catalog__price > div:nth-child(2) span:first-child::before, section.cpetialOffers .catalog__furniture::before {
    content: "";
    display: inline-block;
    position: absolute;
  }

  .catalog__furniture .catalog__furniture::before {
    display: inline-block;
    position: absolute;
  }

  body > main, .category, .cpetialOffers > div:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1;
  }

  .display-Block {
    display: block;
    width: 100%;
    height: 100%;
  }

  .main__info-text-correct ul {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media screen and (min-width: 576px) {
  /* --form near footer - start */
  .form-control {
    max-width: 589px;
  }

  /* --form near footer - end */
}
@media screen and (min-width: 576px) {
  .font_34, .main__title h2 {
    font-size: 34px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
  }

  section.category {
    padding-top: 58px;
    margin-bottom: 63px;
  }

  body > main#main {
    margin-bottom: 117px;
  }

  .main__title {
    padding-left: 93px;
  }
  /* --This's a catalog product's category -start */
  .catalog {
    height: auto;
    gap: 10px;
    margin-bottom: 151px;
  }

  .catalog__furniture {
    max-width: 284px;
    height: 198px;
    padding: 16.34px 9px 13px 13px;
  }
  .catalog__furniture > div .catalog__foto {
    height: 66px;
    width: 102px;
  }
  .catalog__furniture .catalog__info li {
    background-position: 189px 5px;
  }

  .catalog__allProduct {
    text-align: center;
  }

  body > main#main section.categoryMenu:nth-child(3) {
    display: initial;
  }

  /* --This's a catalog product's category -end */
  /* --cpecial offers - start */
  section.cpetialOffers {
    padding-top: 63px;
    height: auto;
    margin-bottom: 64px;
  }
  section.cpetialOffers div.main__title {
    margin-bottom: 27px;
  }
  section.cpetialOffers > div:last-child {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    row-gap: 35px;
    padding-left: 16px;
    height: 768px;
    margin-bottom: 0;
  }
  section.cpetialOffers div.catalog__furniture {
    margin-left: 0;
    padding-right: 13px;
    max-width: 290px;
  }
  section.cpetialOffers div.catalog__furniture .catalog__foto {
    width: 264px;
    height: 160px;
    margin-bottom: 3px;
  }
  section.cpetialOffers .catalog__price > div:nth-child(4) {
    width: 119px;
  }

  section.cpetialOffers div.catalog__furniture::before {
    content: "%";
    right: 27px;
  }

  div.catalog__furniture > div .catalog__title {
    height: 62px;
  }
  div.catalog__furniture > div .catalog__title > div:first-child {
    margin: 0;
    width: 252px;
  }
  div.catalog__furniture > div .catalog__title h3 {
    letter-spacing: -0.8px;
    line-height: 1;
  }

  /* --cpecial offers - end */
  /* menu - start*/
  .categoryMenu__nav {
    display: initial;
  }

  /* menu - end*/
  /* this's block then have the info-text - start*/
  .main__text {
    width: 100%;
  }

  .info-text__about-us {
    width: inherit;
  }
  .info-text__about-us .main__title {
    max-width: 640px;
    padding: 54px 0 0 72px;
  }
  .info-text__about-us .main__info-text {
    padding: 0px 0 0 62px;
    width: 100%;
  }
  .info-text__about-us .main__title.main__title-correct {
    padding: 0px 0 0 75px;
  }
  .info-text__about-us .main__title.main__title-correct > h3 {
    letter-spacing: 0px;
  }
  .info-text__about-us div > div.main__info-text-correct {
    padding-top: initial;
    margin-bottom: 4px;
  }
  .info-text__about-us div > div.main__info-text-correct > ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .info-text__about-us div > div.main__info-text-correct li {
    font-size: 16px;
  }
  .info-text__about-us div > div.main__info-text-correct .info-text__01_bg {
    background-size: initial;
    background-position-y: initial;
    width: 295px;
    padding-left: 72px;
  }
  .info-text__about-us div > div.main__info-text-correct .info-text__01_bg::before {
    content: "";
    display: block;
    width: 61px;
    height: 63px;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
  }
  .info-text__about-us div > div.main__info-text-correct .info-text__01_bg span {
    letter-spacing: -1px;
  }
  .info-text__about-us div > div.main__info-text-correct .info-text__01_bg:nth-child(1) {
    position: relative;
  }
  .info-text__about-us div > div.main__info-text-correct .info-text__01_bg:nth-child(1)::before {
    background: no-repeat url(/resta/img/svg/content-list-bg/euro-bag.svg) 14px 13px;
  }
  .info-text__about-us div > div.main__info-text-correct .info-text__01_bg:nth-child(2)::before {
    background: no-repeat url(/resta/img/svg/content-list-bg/drive-car.svg) 12px 16px;
  }
  .info-text__about-us div > div.main__info-text-correct .info-text__01_bg:nth-child(3)::before {
    background: no-repeat url(/resta/img/svg/content-list-bg/vardrobe.svg) 15px 7px;
  }
  .info-text__about-us div > div.main__info-text-correct .info-text__01_bg:nth-child(4)::before {
    background: no-repeat url(/resta/img/svg/content-list-bg/veer.svg) 9px 8px;
  }
  .info-text__about-us .main__info-text-property {
    padding-bottom: 103px;
    margin-bottom: initial;
  }
  .info-text__about-us .main__info-text-property p {
    display: block;
    letter-spacing: 1.9px;
    line-height: 1.5;
    margin-bottom: 22px;
  }
  .info-text__about-us .main__info-text-property li {
    width: auto;
  }
  .info-text__about-us .main__info-text-property li:last-child {
    margin-bottom: 0;
  }

  p {
    line-height: 21.2px;
    margin-bottom: 18px;
  }

  /* this's block then have the info-text - end*/
  /* this's the our client - start */
  .info-our-client .main__title {
    padding: 6px 0 0 80px;
    margin-bottom: 40px;
  }
  .info-our-client div.main__info-slider.main__client {
    height: 74px;
    margin-bottom: 72px;
  }

  /* this's the our client - end */
  /* this's form - send letters for me - start */
  .main__send-letters .main__title {
    padding: 6px 0 0 80px;
  }
  .main__send-letters > div {
    padding: 3px 0 0 40px;
  }
  .main__send-letters .main__form-send-letters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
  .main__send-letters .main__form-send-letters > div {
    height: 51px;
    width: 100%;
  }
  .main__send-letters .main__form-send-letters .form-control {
    padding-left: 20px;
  }
  .main__send-letters .main__form-send-letters .mail__texterea {
    min-height: 110px;
    margin-bottom: 0;
  }
  .main__send-letters .main__form-send-letters .mail__button {
    width: 100%;
    max-width: 286px;
    display: inline-block;
  }
  .main__send-letters .main__form-send-letters .mail__sheckbox {
    max-width: 389px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 11px 0 0 10px;
  }
  .main__send-letters .main__form-send-letters .mail__sheckbox .form-check-input[type=checkbox] {
    height: 20px;
    width: 22px;
  }
  .main__send-letters .main__form-send-letters .mail__sheckbox p {
    margin: 0;
    height: 40px;
  }

  /* this's form - send letters for me - end */
}
@media screen and (min-width: 768px) {
  .info-text__about-us .info-text__bg {
    background-color: initial;
  }

  .info-text__bg {
    display: block;
    background: no-repeat url(/resta/img/subtract.png) bottom left;
    background-color: none;
    position: absolute;
    width: 100%;
    max-width: 408px;
    height: 100%;
    max-height: 333px;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: inherit;
  }

  .info-text__about-us div > div.main__info-text-correct {
    padding-left: 75px;
  }
  .info-text__about-us div > div.main__info-text-correct ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}
/* The MAIN'S BLOCK style - end*/
@media screen and (min-width: 992px) {
  .info-text__about-us .main__info-text.main__info-text-correct > ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 106px 10px 106px;
    grid-template-rows: 106px 106px;
    row-gap: 10px;
  }
  .info-text__about-us .main__info-text.main__info-text-correct > ul > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .info-text__about-us .main__info-text.main__info-text-correct > ul > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .info-text__about-us .main__info-text.main__info-text-correct > ul > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .info-text__about-us .main__info-text.main__info-text-correct > ul > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .info-text__about-us .main__info-text.main__info-text-correct li {
    display: inline-block;
    padding: initial;
    padding-left: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    height: initial;
  }
  .info-text__about-us .main__info-text.main__info-text-correct li span {
    font-size: 24px;
    line-height: 1.2;
  }
  .info-text__about-us .main__info-text.main__info-text-correct li.info-text__01_bg {
    max-width: initial;
    width: inherit;
    height: 106px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info-text__about-us .main__info-text.main__info-text-correct li.info-text__01_bg:nth-child(1) {
    padding-left: 96px;
  }
  .info-text__about-us .main__info-text.main__info-text-correct li.info-text__01_bg:nth-child(2) {
    /* background-size:    61px 63px;
    background-position: 31px 22px; */
    padding-left: 100px;
  }
  .info-text__about-us .main__info-text.main__info-text-correct li.info-text__01_bg:nth-child(3) {
    /* background-size:    61px 63px;
    background-position-y:  17px; */
    padding-left: 96px;
  }
  .info-text__about-us .main__info-text.main__info-text-correct li.info-text__01_bg:nth-child(4) {
    /* 	background-size:    67px;
    	background-position: 26spx 19px; */
    padding: 0 50px 0 104px;
  }
  .info-text__about-us .main__info-text.main__info-text-correct > li:first-child {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .info-text__about-us .main__info-text.main__info-text-correct > li:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .info-text__about-us .main__info-text.main__info-text-correct > li:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .info-text__about-us .main__info-text.main__info-text-correct > li:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}
@media screen and (min-width: 1200px) {
  .main__send-letters {
    padding-left: 300px;
  }
}
@media screen and (min-width: 1400px) {
  .info-text__about-us {
    max-width: 100%;
  }
  .info-text__about-us > div {
    padding-left: 366px;
  }
  .info-text__about-us > div:first-child {
    background-color: #fff;
  }
}
@media screen and (min-width: 1700px) {
  .li_bg_position_size, .info-text__about-us div > div.main__info-text-correct li.info-text__01_bg:nth-child(3)::before, .info-text__about-us div > div.main__info-text-correct li.info-text__01_bg:nth-child(2)::before, .info-text__about-us div > div.main__info-text-correct li.info-text__01_bg:nth-child(1)::before {
    width: 61px;
    height: 63px;
    background-size: 61px 63px;
    background-position: 0;
  }

  body > main#main {
    margin-bottom: 130px;
  }

  .primary-block-absolute, .catalog__allProduct {
    display: inline-block;
    position: absolute;
  }

  /* The MAIN'S BLOCK style - start*/
  section.category {
    padding-top: 22px;
    margin-bottom: 88.2px;
  }
  section.category > div:last-child {
    padding-left: 364px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    z-index: 2;
  }

  .main__title {
    padding-left: 362px;
    margin-bottom: 5px;
    z-index: 2;
  }
  .main__title h2 {
    font-size: 46px;
    font-weight: 700;
  }

  /* This's a catalog from the main block - start */
  .catalog {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1190px;
    padding-left: initial;
    margin-bottom: 0;
    -webkit-column-gap: 11px;
       -moz-column-gap: 11px;
            column-gap: 11px;
    row-gap: 8px;
    z-index: 3;
  }

  .catalog__furniture {
    max-width: 589px;
    width: 100%;
    min-height: 253px;
    height: auto;
    padding-top: 14px;
    padding-left: 15px;
    padding-bottom: 7px;
  }
  .catalog__furniture > div .catalog__foto {
    width: 235px;
    height: 124px;
  }
  .catalog__furniture > div:first-child {
    padding-bottom: 10px;
  }

  .catalog div.catalog__furniture .catalog__title h3 {
    font-size: 30px;
  }

  div.catalog__furniture > div .catalog__title > div:first-child {
    margin-bottom: 12px;
  }
  div.catalog__furniture > div .catalog__title span {
    font-size: 16px;
  }
  div.catalog__furniture > div .catalog__title span:nth-child(2) {
    margin-left: 0;
  }
  div.catalog__furniture .catalog__info {
    display: inline-block;
    width: 205px;
  }
  div.catalog__furniture .catalog__info li {
    display: block;
    width: 203px;
    background: url(/resta/img/svg/li_table.svg) 0px 2px no-repeat, url(/resta/img/svg/001.svg) 185px 1px no-repeat;
    background-size: 20px auto;
    height: 23px;
    padding: 5px 0 0 30px;
  }
  div.catalog__furniture .catalog__info li a {
    vertical-align: top;
    font-size: 18px;
  }
  div.catalog__furniture .catalog__info_v2 {
    margin-left: 80px;
  }
  div.catalog__furniture div:nth-child(4),
div.catalog__furniture .catalog__inCart {
    display: inline-block;
    width: 203px;
  }
  div.catalog__furniture div:nth-child(4) {
    padding: 9px 0 0 3px;
  }
  div.catalog__furniture .catalog__inCart {
    margin-left: 80px;
    height: 15px;
    vertical-align: top;
    background-position: 180px 4px;
  }
  div.catalog__furniture .catalog__inCart a {
    line-height: 1;
    font-size: 15px;
    font-weight: 400;
  }

  .info-text__about-us div > div.main__info-text-correct li.info-text__01_bg:nth-child(1)::before {
    left: 16px;
    top: 21px;
  }
  .info-text__about-us div > div.main__info-text-correct li.info-text__01_bg:nth-child(2)::before {
    left: 21px;
    top: 25px;
  }
  .info-text__about-us div > div.main__info-text-correct li.info-text__01_bg:nth-child(3)::before {
    left: 20px;
    top: 13px;
  }
  .info-text__about-us div > div.main__info-text-correct li.info-text__01_bg:nth-child(4)::before {
    left: 10px;
    top: 3px;
    background-size: 67px 69px;
    width: 70px;
    height: 70px;
  }

  /* This's a catalog from the main block - end*/
  /* This's a once link on all product from the block '.catalocg' - start */
  .catalog__allProduct {
    top: -31px;
    right: 0;
    z--index: 4;
  }
  .catalog__allProduct a {
    background-position: 204px -2px;
  }

  /* This's a once link on all product from the block '.catalocg' - end */
  /* --cpecial offers - start */
  section.cpetialOffers {
    padding-top: 23px;
    margin-bottom: 67px;
  }
  section.cpetialOffers > div:last-child {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 1190px;
  }
  section.cpetialOffers > div:last-child {
    padding-left: 365px;
    max-width: 1560px;
  }
  section.cpetialOffers div.catalog__furniture {
    padding: 15.6px 10px 8px 13px;
  }
  section.cpetialOffers div.catalog__furniture::before {
    right: 21px;
    top: -9px;
  }
  section.cpetialOffers div.catalog__furniture .catalog__inCart {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: initial;
    padding: 3px 0 0 0px;
  }
  section.cpetialOffers div.catalog__furniture .catalog__inCart a {
    font-size: 13px;
  }
  section.cpetialOffers div.catalog__furniture > div:first-child {
    padding-bottom: 0px;
  }
  section.cpetialOffers > div .catalog__title {
    margin-bottom: 3px;
  }
  section.cpetialOffers > div .catalog__title > div:first-child {
    margin-bottom: 1px;
  }
  section.cpetialOffers > div .catalog__title span {
    font-size: 12px;
  }
  section.cpetialOffers .catalog__price > div:nth-child(4) {
    padding-top: 6px;
  }

  /* --cpecial offers - end */
  /* --This's a text about a company. Block '.info-text__about-us'  - start */
  .main__text {
    background-color: #E5E5E5;
  }

  #main .main__text .info-text__about-us > div > div > div {
    padding-left: initial;
  }

  #main .main__text .info-text__about-us > div {
    padding-left: 0px;
    padding-right: 0;
    margin-left: initial;
  }
  #main .main__text .info-text__about-us > div > div {
    background-color: #fff;
    padding: initial;
  }
  #main .main__text .info-text__about-us > div > div > div {
    padding-left: 351px;
    max-width: 1560px;
  }

  .info-text__about-us {
    margin-bottom: 150px;
  }
  .info-text__about-us .main__title {
    padding: 44px 0 0 10px;
    max-width: initial;
  }
  .info-text__about-us .main__info-text {
    padding: 6px 0 0 0px;
  }
  .info-text__about-us .main__info-text.main__info-text-correct {
    max-width: 1100px;
    padding-top: 20px;
    margin-bottom: 30px;
  }
  .info-text__about-us .main__info-text.main__info-text-correct > ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 560px 560px;
    grid-template-columns: 560px 560px;
    -ms-grid-rows: 106px 106px;
    grid-template-rows: 106px 106px;
  }
  .info-text__about-us .main__info-text.main__info-text-correct > ul > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .info-text__about-us .main__info-text.main__info-text-correct > ul > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .info-text__about-us .main__info-text.main__info-text-correct > ul > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .info-text__about-us .main__info-text.main__info-text-correct > ul > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .info-text__about-us .main__title.main__title-correct {
    padding-left: 11px;
  }
  .info-text__about-us .main__info-text-correct + .main__title-correct {
    margin: initial;
    padding-top: 0px;
  }
  .info-text__about-us .main__info-text-property {
    background-color: #E5E5E5;
    padding-top: 25px;
  }
  .info-text__about-us .main__info-text-property > ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 263px 5px 263px 5px 263px;
    grid-template-columns: 263px 263px 263px;
    -ms-grid-rows: 28px 8px 28px;
    grid-template-rows: 28px 28px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
    row-gap: 8px;
  }
  .info-text__about-us .main__info-text-property > ul > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .info-text__about-us .main__info-text-property > ul > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .info-text__about-us .main__info-text-property > ul > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .info-text__about-us .main__info-text-property > ul > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .info-text__about-us .main__info-text-property > ul > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .info-text__about-us .main__info-text-property > ul > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
  .info-text__about-us .main__info-text-property li {
    padding: initial;
    margin: initial;
  }
  .info-text__about-us .main__info-text-property object {
    width: 24px;
    height: 24px;
    top: 2px;
    left: initial;
  }
  .info-text__about-us .main__info-text-property .align-middle:first-child {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .info-text__about-us .main__info-text-property .align-middle:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .info-text__about-us .main__info-text-property .align-middle:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .info-text__about-us .main__info-text-property .align-middle:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }

  .main__text {
    max-width: 1920px;
  }
  .main__text nav {
    display: initial;
  }

  p {
    margin-bottom: 13px;
  }

  .info-text__bg {
    right: 2px;
    bottom: -38px;
    max-width: 435px;
    max-height: 467px;
    background-size: cover;
    background-position: left bottom;
  }

  /* --This's a text about a company. Block '.info-text__about-us'  - end */
  /* --This's block have class '.info-text__categoryMenu' - start */
  .info-text__categoryMenu {
    padding: 6px 0 5px 16px;
  }

  /* --This's block have class '.info-text__categoryMenu' - end */
  /* --This's block have class '.info-our-client' - start */
  .info-our-client {
    background-color: #fff;
    width: 100%;
    max-width: initial;
  }
  .info-our-client > div {
    max-width: 1568px;
    padding-left: 353px;
  }
  .info-our-client .main__title {
    padding: 43px 0 0 0;
    margin-bottom: initial;
  }
  .info-our-client .main__title:nth-child(1) {
    padding: 48px 0 0 0;
  }
  .info-our-client div.main__info-slider.main__client {
    height: 130px;
    padding-top: 50px;
    margin-bottom: 46px;
  }
  .info-our-client .main__info-work-our {
    padding: 25px 0 0 61px;
    width: 100%;
    max-width: initial;
    max-height: initial;
  }
  .info-our-client div .main__info-work-our {
    height: 400px;
    margin-bottom: initial;
  }

  /* --This's block have class '.info-our-client' - end */
  .info-our-client__categoryMenu {
    padding: 6px 0 5px 16px;
  }

  /* this's block have a class '.main__send-letters' - start */
  .main__send-letters .main__title {
    padding: 46px 0 0 65px;
  }
  .main__send-letters > div {
    padding: 15px 0 0 20px;
  }
  .main__send-letters .main__form-send-letters .form-control {
    padding-left: 26px;
  }

  /* --form near footer - start */
  .form-control {
    max-width: 782px;
  }

  /* --form near footer - end */
  .main__send-letters_bg {
    background: no-repeat url(/resta/img/send-letters_bg.png) 0 0;
    background-position: bottom left;
    width: 698px;
    height: 770px;
    display: block;
    position: absolute;
    bottom: -470px;
    right: 2px;
    z-index: 10;
  }

  /* this's block have a class '.main__send-letters' - end */
}
/* The MAIN'S BLOCK style - end*/
.row {
  margin-left: initial;
}