@charset "UTF-8";
@media screen and (min-width: 321px) {
  :root {
    --backg_page:#949396;
    /* фон страницы*/
    --color_active:#A41656;
    /* цвет-active */
    --color_hover:#5A082D;
    /* цвет-hover */
    --color_normal:#8C325B;
    /* цвет кнопок ссылок*/
    --color_bg: #C4C4C4;
    /* фоновый цвет */
    --primary_color: #ffffff;
    --color_font:#5D5B61;
    /* фон шапки */
    --primary__cursor: pointer;
    --primary_border:1px #949396 solid;
  }

  .header__account a:nth-child(1) {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
  }

  .header__account div:last-child a {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: underline;
  }

  /* HEADER style - start */
  header .header {
    width: 100%;
    max-width: 1920px;
    -ms-grid-columns: initial;
    grid-template-columns: initial;
    -ms-grid-rows: initial;
    grid-template-rows: initial;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 82px 0 54px;
    grid-template-rows: 82px 54px;
    -ms-grid-columns: 155px 0 1fr 0 1fr 0 90px;
    grid-template-columns: 155px 1fr 1fr 90px;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    row-gap: 0;
    justify-items: start;
  }
  header .header > *:nth-child(1) {
    -ms-grid-row:1;
    -ms-grid-column:1;
  }
  header .header > *:nth-child(2) {
    -ms-grid-row:1;
    -ms-grid-column:3;
  }
  header .header > *:nth-child(3) {
    -ms-grid-row:1;
    -ms-grid-column:5;
  }
  header .header > *:nth-child(4) {
    -ms-grid-row:1;
    -ms-grid-column:7;
  }
  header .header > *:nth-child(1) {
    -ms-grid-row:1;
    -ms-grid-column:1;
  }
  header .header > div {
    grid-row: initial;
    grid-column: initial;
  }
  header .header .header__logo {
    /* logo */
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 130px;
    height: 64.46px;
    margin: 0 0 0 19px;
    background-size: 130px 54.46px;
    background-position: 0 10px;
  }
  header .header .header__nav {
    /* menu */
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    margin: 18px 0 0 15px;
    -ms-grid-column-align: initial;
        justify-self: initial;
  }
  header .header .header__contact {
    /* contact block */
    padding: initial;
    width: 1fr;
    border: initial;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  header .header .header__contact::after {
    border: initial;
    content: initial;
  }
  header .header .header__contact li:first-child {
    padding-top: 5px;
  }
  header .header .header__contact li {
    margin-bottom: initial;
  }
  header .header .header__search {
    /* search form */
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    max-width: 558px;
  }
  header .header .header__account {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }

  /* HEADER style - end */
  /* CATEGORY product - style  - start*/
  /* -- title category - style - start */
  .main__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .category__title {
    padding: initial;
  }

  /* -- title category - style - and */
  /* --category product style -start */
  .category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .category > div:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .category > div:last-child > div {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100%;
  }
  .category > div:last-child .category__catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: initial;
  }
  .category .catalog__allProduct {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .category .catalog__allProduct a {
    margin: initial;
  }

  /* --category product style - and */
  /* --search form style- start */
  .header__search form {
    max-width: 1071px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 16px;
  }
  .header__search form input[type=search] {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    max-width: 287px;
    text-align: left;
    padding-left: 20px;
  }
  .header__search form button {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    min-width: 150px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 180px;
    background-image: initial;
    color: #fff;
    text-align: center;
  }

  /* --search form style- end */
  /* --lenguage's button  - start */
  .header__language {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    max-width: 90px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: initial;
    margin: initial;
  }
  .header__language > div {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  .header__language div:first-child {
    margin: 6px 0 0 14px;
    height: 29px;
  }
  .header__language div:last-child {
    margin: 6px 14px 0 0;
  }

  /* --lenguage's button  - end */
  /* --accaunt's head -style - start */
  .header__account {
    background-color: var(--color_bg);
    max-width: 210px;
    width: 100%;
    margin: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .header__account a:nth-child(1) {
    display: inline-block;
    line-height: 12px;
    color: var(--color_hover);
    height: 24px;
    width: 45px;
    margin: 18px 0 0 15px;
  }
  .header__account div:nth-child(2) {
    background: no-repeat url(/site/resta/img/svg/accaunt_red.svg);
    margin-left: 6px;
  }
  .header__account div:last-child {
    background: no-repeat url(/site/resta/img/svg/shopping-cart-red.svg);
    margin-left: 2.6em;
  }
  .header__account div:last-child a {
    background-color: var(--backg_page);
    color: #fff;
    margin-top: 0;
    width: 24px;
    height: 24px;
    padding: initial;
    padding: 5px 0 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
  }

  /* --accaunt's head -style - end */
  /* --a top's Slider under a header style - start */
  .topSection__slider {
    width: 100%;
    max-width: 768px;
    height: 532px;
    /* height: 100%; */
    max-height: 532px;
  }

  /* --a top's Slider under a header style - end */
  /* TOPsECTION__SLIDER TOPsLIDER style - start */
  .topSection > div:last-child > div {
    /* max-width:600px;*/
    height: 19.289em;
    max-height: 347px;
    margin-bottom: initial;
  }
  .topSection > div:last-child > div > ul li {
    position: absolute;
    width: 100%;
    max-width: 300px;
    padding: 6px 0 0 114px;
  }
  .topSection > div:last-child > div > ul li:first-child {
    top: 36px;
    left: 84px;
    background-size: 77px 41px;
  }
  .topSection > div:last-child > div > ul li:nth-child(2) {
    top: 110px;
    left: calc(50% + 45px);
    height: 60px;
    background-size: 60px 49px;
    padding-left: 98px;
  }
  .topSection > div:last-child > div > ul li:last-child {
    top: 193px;
    left: 74px;
    background-size: 63px 55px;
    padding: 10px 0 0 90px;
  }

  /* TOPsECTION__SLIDER TOPsLIDER style - end */
  .catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-left: 48px;
    padding-top: 1px;
    margin: initial;
    margin-bottom: 48px;
  }
  .catalog > div {
    display: inline-block;
    margin: initial;
    margin-bottom: 18px;
  }

  /* block SPECIAL OFFER style - start */
  .cpetialOffers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 826px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .cpetialOffers .main__title {
    padding: initial;
    -webkit-box-flex: initial;
        -ms-flex-positive: initial;
            flex-grow: initial;
    padding: 0 50px;
  }
  .cpetialOffers > div:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 34px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 35px;
    height: 826px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .cpetialOffers .catalog__furniture {
    margin: initial;
  }
}
/* block SPECIAL OFFER style - end */
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) */
/* Large devices (desktops, 992px and up) */
/* X-Large devices (large desktops, 1200px and up) */
/* XX-Large devices (larger desktops, 1400px and up) */