/* the TOP SLIDER's style - start */
.topSection__slider {
  width: 100%;
  min-width: 320px;
  max-width: initial;
  height: 158px;
  overflow: hidden;
}
.topSection__slider ul {
  display: block;
  height: 155px;
}

.sliderTop {
  display: block;
  height: 100%;
}
.sliderTop > div {
  width: initial;
  min-height: 155px;
  position: relative;
  padding-top: 38px;
  overflow: hidden;
}
.sliderTop .sliderTop__slider {
  position: absolute;
  left: -197%;
  top: -184px;
  /* -webkit-transform: scale(0.3); */
  z-index: 2;
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
}
.sliderTop .sliderTop__title {
  width: 225px;
  margin: 0 auto;
  z-index: 3;
}
.sliderTop .sliderTop__title h1 {
  font-size: 1.3em;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  padding-right: 20px;
}
.sliderTop > div .sliderTop__form, .sliderTop > div .sliderTop__slider:nth-child(4), .sliderTop > div > div:nth-child(5), .sliderTop > div .topSlider__social {
  display: none;
}

.topSection__topOffer {
  /* width: 260px; */
  padding-top: 17px;
  padding-bottom: initial;
  margin-bottom: 58px;
  background: radial-gradient(ellipse farthest-corner at 20px 49px, rgba(243, 185, 127, 0.05), rgba(240, 95, 136, 0.08), rgba(140, 50, 91, 0.12), rgba(243, 185, 127, 0.15), rgba(78, 155, 213, 0.05));
}
.topSection__topOffer > ul {
  width: 100%;
  display: block;
}
.topSection__topOffer > ul > li {
  width: 260px;
  font-size: 1em;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  color: var(--color_font);
  background: no-repeat url(/site/resta/img/svg/top_offer/slider_delivery.svg) 17px 5px;
  height: 40px;
  display: block;
  margin: 0 auto;
  margin-bottom: 28px;
  padding-left: 80px;
  /* 105px; */
  box-size: border-box;
}
.topSection__topOffer > ul > li:nth-child(2) {
  background: no-repeat url(/site/resta/img/svg/top_offer/slider_furnitur.svg) 22px 5px;
  margin-bottom: 27px;
}
.topSection__topOffer > ul > li:nth-child(3) {
  height: 50px;
  padding-top: 10px;
  margin-bottom: initial;
  background: no-repeat url(/site/resta/img/svg/top_offer/slider_colors.svg) 17px 0px;
}

/* the TOP SLIDER's style - end */
@media screen and (min-width: 576px) {
  .first_block, .topSection__topOffer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1;
  }

  /* TOPsECTION__SLIDER TOPsLIDER style - start */
  .topSection > div:last-child {
    height: 347px;
  }

  .topSection__topOffer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    flew-shrink: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: initial;
    padding: 59px 0 0 0;
  }
  div.topSection__topOffer ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 0;
    width: 100%;
    max-width: 560px;
    margin: initial;
  }
  div.topSection__topOffer ul li {
    margin: initial;
    margin-bottom: 30px;
    background-size: 77px 41px;
    background-position: 6px -1px;
    min-width: 360px;
    width: 100%;
  }
  div.topSection__topOffer ul li:nth-child(2) {
    background-size: 60px 49px;
    background-position: 6px -1px;
    width: 270px;
    margin: initial;
    margin-bottom: 30px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  div.topSection__topOffer ul li:nth-child(3) {
    background-size: 60px 49px;
    background-position: 6px -1px;
    width: 270px;
  }
  /* TOPsECTION__SLIDER TOPsLIDER style - end */
}
@media screen and (min-width: 768px) {
  /* the TOP SLIDER's style - start */
  .topSection {
    height: 879px;
  }
  .topSection .slider {
    height: 530px;
  }

  /* the TOP SLIDER's style - end */
}