@import 'variabls-style';
.font_16{

	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: center;

}
/* TOPsECTION__SLIDER TOPsLIDER style - start */
.topSection__slider.topSlider{
	z-index: 2;
}
/* TOPsECTION__SLIDER TOPsLIDER style - end */

/* the TOP SLIDER's style - start */
.topSection__slider {
	width: 100%;
	min-width:320px;
	max-width: initial;
	height:158px;

	overflow:hidden;

	& ul{
		display: block;
		height: 155px;
	}
}

.sliderTop {
	display: block;
	height: 100%;

	& > div{
		width: initial;
		min-height:155px;
		position: relative;
		padding-top: 38px;

	}
	& .sliderTop__slider{

	position: absolute;
    left: -197%;
    top: -184px;
    /* -webkit-transform: scale(0.3); */
    z-index: 2;
    transform: scale(0.4);
	}

	& .sliderTop__title{
		width: 225px;
		margin: 0 auto;
		z-index: 3;

		& h1 {
			font-size: 1.3em;
			font-weight: 700;
			line-height: 29px;
			letter-spacing: 0em;
			text-align: left;
			color: #ffffff;
			padding-right: 20px;
			}
	}
	& > div .sliderTop__form,
	& > div .sliderTop__slider:nth-child(4),
	& > div> div:nth-child(5),
	& > div .topSlider__social
	 {
		display: none;
	}

}
/* the TOP SLIDER's style - end */

/* The ASIDE COLUMN style - start */
.topSection{
	position: relative;
	@extend %coren-block;
	width: initial;

	& > div {
		margin-left:initial;
		margin-right:initial;
	}

}
.colLeft{
	display: block;
	overflow: hidden;
	width: 35px;
	height: 347px;
	overflow:hidden;
	background-color: #fff;
	border-radius: 0 8px 8px 0;
	border: 1px var(--backg_page) solid;
	padding:initial;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 4;

	cursor: pointer;

}
.colLeft.colLeft_activity{
	/* top:-168px; */
	width: 100%;

	& nav ul{
		display: initial;
	}
}

.colLeft nav {
	z-index: 60;
	position: relative;
	left: initial;
	width: 100%;
	height: 100%;

	&::before,
	&::after{
		content: "Кликните, чтобы увидеть категории";
		z-index: 60;
		background-color: #fff;
		width: 39px;
		height: 347px;
		padding: 18px 0 1px 8px;
		box-sizing: border-box;

		display: block;
		border: 1px solid var(--color_font);
		border-radius: 8px 0 0 8px;
		border:1px 0 0 1px;
		color: var(--color_normal);
		position: absolute;
		left: 0;
		top: 16;

		writing-mode: vertical-lr;
		transform: rotate(180deg);
		text-transform: uppercase;
		font-weight: 700;
		font-size: 0.84em;
		word-spacing: 0.5px;
		letter-spacing: 0.1px;

		cursor: pointer;

	}

	&::after{
		display: none;
		padding-top: 108px;
		content: 'Скрыть контент';
		top:0;

		& ul{
			display: none;

		}

	}
	& li{
		display: none;
	}
}

.colLeft.colLeft_activity{
	overflow: visible;
	width: 100%;
	height: initial;
	background-color: initial;
	border: 0;

	/*& nav:hover {*/
	& nav{
		width: initial;
		position: sticky;
		margin: 0 auto;


		&::before{
			display: none;
		}
		&::after{
			display: block;
			top:168px;
		}
		& > ul{
			background:none;
		}
		& > ul li{
			display: block;
			width: 265.32px;
			min-height: 36.67px;
			background-color: #fff;
			text-align: center;
			border-radius: 10px;
			border: 1px solid var(--color_font);
			margin: 0 auto;
			z-index: 5;
			left: 10px;
			& object{
				display: none;
				vertical-align: top;
				height: 35px;
				z-index: 7;
			}

			& a,
			& a:active,
			& a:visited{
				display: inline-block;
				height: 100%;
				width: 100% ; /* 209.9px*/
				padding-top: 10px;
				vertical-align: top;
				z-index:70;
				text-align: center;
				@extend .font_16;
				color: var(--color_font);
				z-index: 7;
			}
			& a:hover{
				color: #fff;
			}
		/*	&, */ /* tochmobile */
			&:hover
			{
				background-color: var(--color_normal);
					& a{color: #fff;}
				}

		}
	}
}
/* The ASIDE COLUMN style - end */

@media screen and (min-width: 321px){
	.colLeft.colLeft_activity{
		width: 320px;

		& nav{
			width: 320px;
		}
	}
}
@media screen and (min-width: 576px){

	.colLeft.colLeft_activity{
		width:  423px;
		& nav{
			width:  423px;
			&::after{
				top:    0;
			}
		}
	}

}

@media screen and (min-width:   767px){
	.colLeft{
		top:    21px;
		width:  77px;
		height:758px;


        & nav::before{
	        width: 77px;
	        height:758px;
	        padding:   18% 0 0 25px;
	        font-size: 24px;
	        letter-spacing: 2.4px;
	        text-align: left;

	    }
	}

	 .colLeft.colLeft_activity{
	    top:    0;

		& nav {
			& > ul li{
				width:  340px;
				min-height: 54px;
				left:   36px;
				display: grid;
				grid-template-columns: 152px 1fr;
				grid-templete-rows: 53px;

				& object{
					grid-column:    1   /   2;
					grid-row:   1   /  2;
					display:    block;
					align-self: center;
					justify-self: end;

					width: 46px;
					height: auto;
					top: 9.1%;
					left:   10px;



				}
				& object.colLeft__navCatalog_hover{
					top: 9.1%;

				}
				& a{
					padding:    9.1% 0 12px 16px;
					text-align: left;
					grid-column:    2   /  3;
					grid-row:   1   /   3;

					text-transform: lowercase;
				}

				&:hover{
					&   object{

						display:    none;
					}

					& object.colLeft__navCatalog_hover{

						display:    initial;
					}
				}
			}

			& > ul li.aroma{
			    & object{
			        width: 29px;
				    height: auto;
				    top: 9px;
				    left: -5px;
			    }
			}
		}

        & nav::after{
	        width: 77px;
	        height:758px;
	        padding:   28.7% 0 0 25px;
	        font-size: 24px;
	        letter-spacing: 2.4px;
	        text-align: left;

	    }
	 }


}
@media screen and (min-width:   1700px){
	/* The ASIDE COLUMN style - start */
	/*  this's a category menu from the catalog - start */
	.colLeft{
		top:    0;
		height: 100%;
		min-height: 784px;
		width:  auto;
		max-width:  381px;

		background: none;
		border: 0;
		z-index:    5;

		& nav{
			&::before,
			&::after{
				display:    none;

			}

			& ul {
				height: 100%;
			}

			& li {
				width: 340px;
			    min-height: 54px;

			    background-color: #fff;
			    text-align: center;
			    border-radius: 10px;
			    border: 1px solid var(--color_font);

			    z-index: 5;
			    display: grid;
		        grid-template-columns: 152px 1fr;
				&:hover{
					width:  380px;
					background-color:   var(--color_bg);

					& a{
						color:  var(--color_font);
						padding-top: 16.922px;
					}

				}
		        & object{
		            top: 9.1%;
		            grid-column: 1/2;
		            grid-row: 1/2;
                    display: block;
                    align-self: content;
                    justify-self: end;
				    width: 46px;
				    height: auto;
				    left: 10px;
				    vertical-align: top;
				    z-index:    60;

		        }

		        & a{
		             padding: 9.1% 0 12px 16px;
                    text-align: left;
                    grid-column: 2/3;
                    grid-row: 1/3;
                    text-transform: lowercase;
                    display: inline-block;
				    height: 100%;
				    width: 100%;
			        vertical-align: top;
			        color: var(--color_font);
                    z-index: 60;
                    font-size: 16px;
					font-weight: 400;
					line-height: 19px;
					letter-spacing: 0em
		        }

			}
		}





	/*  this's a category menu from the catalog - end */

	/* The ASIDE COLUMN style - end */

	}
}
