/* THe FOOTER BLOCK style - start */

footer{
	padding-top:    25px;
	display: flex;
	justify-content:    space-between;
	flex-grow:  1;
	flex-shrink:    1;
	background-color:   var(--color_bg);
	& > div,
	& > nav.header__nav {
		width:  100%;
		border: 0;
	}
	/* --logo style - start */
	& .header__logo{

		height: 74px;
		background-size:  60px 74px;
		background: no-repeat url(/site/resta/img/svg/Logo_Resta_vertical_color.svg) 38px 1px;

	}
	/* --logo style - end */
	/* --contact style - start */
	& div.header__contact{
		padding-top:    27px;
		max-width:  235px;
		margin-bottom:  12px;

		& li{
			margin: initial;
			padding-left:   60px;
			background: no-repeat url(/site/resta/img/svg/footer_tell.svg) 40px 0;

			& a{
				background: initial;
				padding:    initial;
				line-height: 1.2;

				color:  var(--color_font);
				letter-spacing: 0.1px;
			}

		}

		& li:nth-child(3){
			background: no-repeat url(/site/resta/img/svg/footer_email.svg) 40px 5px;

			& a{
				background: initial;

			}
		}
	}
	/* --contact style - end */
	/* --menu style - start */
	& .header__nav{
		@extend %first_block;

	}

	& nav.header__nav{
		min-width:  130px;
		min-height: 235px;
		padding-left:   35px;

		flex-wrap: wrap;
		flex-direction: column;
		justify-content:    start;

		&::before,
		&::after{
			display:    none;

		}

		& ul {
			display: flex;
			flex-direction: column;
			flex-grow:  1;
			gap:    13px;
		    width: 100%;
			max-width: 275px;
			height: initial;
			background: none;

			margin: initial;
			position:   relative;

		}
		& li{
			display:    block;
		}

		& a{
		color:  var(--color_font);
		text-transform: lowercase;

		}
	}

	/* --menu style - end */

	/* --cocial-network style - start */
	& .cocial-network{
		@extend %first_block;
	}
	& div.cocial-network{
		justify-content: start;
		gap:    25px;
		flex-grow:  1;
		flex-shrink:    1;

		padding: 20px 0 0 48px;
	}

	/* --cocial-network style - end */

	/* site owner it's a block autor class - start */
	.autor{
		padding-top:    30px;


		& a,
		& p {
			display:    inline-block;
			width:  100%;
			text-align: center;

			color:  var(--color_font);
		}
	}

	/* site owner it's a block autor class - end */

}
@media screen and (min-width:350px){

	footer{
		justify-content: space-around;

		& > div,
		& > nav.header__nav{
			width: initial;
		}

		& > nav.header__nav{
			padding-left: initial;
		}

		& .autor{
			width:  100%;
		}
	}
}

@media screen and (min-width:768px){
	%font_16{

		font-size: 16px;
		font-weight: 400;
		line-height: 19px;
		letter-spacing: 0em;
		text-align: left;

	}
	/* footer - start */
	body > footer{
		display:    grid;
		grid-template-columns: 277px  225px 1fr;
		grid-template-rows: 1fr  64px 55px;
		flex-shrink: 1;
		flex-grow:  1;

		& > div{
			margin: initial;

		}
		& .header__logo{
			justify-self: center;
			margin: 0;
			height: 150px;

			background-size:    90px 110px;
			background-position: 10px 20px;
		}
		& div.header__contact{
			grid-column:    3 / 4;
			grid-row:   1 / 2;
			justify-self: start;
			margin: initial;
			padding-top

			& li
			{
				background-position:    18px 0;
				padding-left:   35px;
			}
			li:nth-child(3){
				background-position:    15px -2px;
			}
			& a{
				@extend %font_16;
				letter-spacing: 0.7px;

			}
		}

		& .header__nav{
			grid-column:    2 / 3;
			grid-row:   1 / 2;
			justify-self:   start;
			margin: initial;
		}

		& .cocial-network{

			grid-column:    1 / 4;
			grid-row:   2 / 3;

			width:  137px;
			padding:    initial;
			justify-self:   center;
			align-self: center;

			& a {
				display: block;
				height: 100%;
			}
			& object{
				width:  21px;
				height:  auto;

			}
		}

		& .autor{
			grid-column:   1 / 4;
			grid-row:   3 / 4;
			justify-items: end;

			width:  670px;
			margin-left:    90px;
			text-align: left;

			& p{}
			& p,
			 & a {
				 width: 300px;

				font-size: 14px;

			}


		}


	}

	/* footer - end */
}



/* THe FOOTER BLOCK style - end */