/* The HEARD STYLE - start */
header {
	//@extend %first_block;
	background-color: var(--color_font);
	color:#fff;
	padding-top:10px;


	.header{
		display: grid;
		grid-template-columns: 122px 70px 1fr;
		grid-template-rows: 47px 118px 55px;
		/* row-gap:10px;
		gap:5px; */
		min-width: 298px;
		a{
			color:#fff;

			&:hover,
			&:active{
				color:#fff;
			}

		}

	}
}

	/* The site logo - start */

__logo{
	grid-row: 1/2;
	grid-column:1/2;
	background: no-repeat url(/site/resta/img/svg/Logo_Resta_horizontal.svg);
	background-size: cover;
	margin-left:10px;

	a{
		display:inline-block;
		width:105px;
		height:47px;
		z-index:2;
	}
}
/* The site logo - end */

/* The nav style - start */
.header__nav{
	grid-row:1/2;
	grid-column:2/3;
	width:48px;
	height:44px;
	border: 1px solid #fff;
	border-radius:4px;
	justify-self:center;
	margin:4px 0 0 5px ;

	&::before,
	&::after {
		content: '';
		width:28px;
		height: 2px;
		display: inline-block;
		background-color: #fff;
		position:absolute;
		z-index: 5;
		top: 13px;
		left: 9px;
	}

	&::after{

		top:30px;
		width:5px;
	}

	& ul,
	&.header__nav_activity ul:before{
		display:inline-block;
		width:21px;
		height:2px;
		background-color:#fff;
		position:absolute;
		top:21px;
		left: 9px;
	}

	&.header__nav_activity ul:before{
		content: '';
		left: 113px;
	}

	& ul li{
		display:none;

	}
}

.header__nav.header__nav_activity{

	& ul /*,
	& ul:hover*/{
		//@extend %primary-block-absolute;
		top:0;
		left:-104px;
		border: 0;
		background-color: initial;
		width: initial;
		height: initial;
		margin: initial;
		padding-top: 52px;
		z-index: 5;

		& li{
			display: inline-block;
			width: 265.320px;
			height: 36.67px;
			border: 1px solid var(--backg_page);
			border-radius: 10px;
			background: #fff;
			z-index: 5;

				&:hover{background-color: var(--color_normal);
					& a{color: #fff;}
				}


			& a{
				color: var(--color_font);
				font-size: 1.34em;
				text-align: center;
				padding-top: 8px;
				display:block;
				width: 100%;
				height: 100%;
				text-transform: lowercase;

				&:active{
					color: var(--color_active);
				}
			}

		}
	}
}
/* The nav style - and */

/* -- The contact's links a style - start */
.header__contact{
	grid-row: 2/3;
	grid-column:1/3;
	row-gap:0;
	min-width:184px;
	width:100%;
	max-width:220px;
	padding: 25px 0 0 0;
	margin-left:10px;

	&:after{
		border-right: 1px #fff solid;
		height: 84px;
		//@extend %primary-afterBefore;
		right: 0;
		top: 23px;

	}


	li{
		display:inline-block;
		word-spacing: 0.7px;
		letter-spacing: 0.5px;
		width:100%;
		margin-bottom:7px;

		a{
			padding-left:28px;
			font-size: 18px;
			font-weight: 400;
			background: no-repeat url(/site/resta/img/svg/header_tell.svg);
			background-position:5px 3px;
			word-spacing: -5px;
			letter-spacing: 0.5px;

		}

		&:last-of-type a{
			background: no-repeat url(/site/resta/img/svg/header_email.svg);
			background-position: 5px 5px;
		}
	}
}


/* -- The contact's links a style - end */

/* -- The language's button style - start */
.header__language{
	grid-row:1/2;
	grid-column: 3/4;
	padding: 3px 3px 0 0px;
	text-align:right;
	margin-right:10px;
	min-width: 90px;

	.header__RU,
	.header__EN{
		display:inline-block;
		width:29px;
		height:29px;
		border-radius:21px;
		border:1px solid var(--color_font);

		&.header__RU_active,
		&.header__EN_active{
			border: var(--backg_page);
			background-color:var(--backg_page);

		}

		a{
			display: block;
			height: 100%;
			font-size: 16px;
			font-weight: 400;
			text-align: center;
			padding-top: 6px;

		}

	}
}
/* -- The language's button style - end */

/* --The search form's style - start */
.header__search{
	grid-column:1/4;
	grid-row:3/4;
	background-color: var(--color_bg);
	padding: 8px 15px 9px 17px;
	width: 100%;

	form{
		min-width: 288px;
		height: 36px;
		width: 100%;

		input{
			display: inline-block;
			border-color: var(--color_bg);
			border-radius: 6px;
			min-width:217px;
			width: 100%;
			height: 36px;
			max-width: 217px;
			background: no-repeat url(/site/resta/img/svg/header_search.svg) #fff;
			background-position: 6px 6px;
		}

		button{
			width: 65px;
			height: 35px;
			background: no-repeat url(/site/resta/img/right-search.png) var(--color_normal);
			background-position: 23px 13px;
			color: var(--color_normal);
			border-radius: 8px;
			font-size: 1px;
			vertical-align:top;
		}
	}
}
/* --The search form's style - end */

/* -- The style personal account's into site - start*/
.header__account{
	grid-row:2/3;
	grid-column: 3/4;
	width: 52px;
	justify-self: end;
	margin-right: 20px;
	margin-top:10px;
& > a {
	display:none;
}

& > div {
	width:34px;
	height:34px;
	background: no-repeat url(/site/resta/img/svg/accaunt.svg);
	display:inline-block;
	margin-left:15px;
	margin-top:15px;

	& a {
		display:block;
		height:100%;
		z-index:3;
	}
	&:last-child{
		background: no-repeat url(/site/resta/img/svg/shopping-cart.svg);
		background-size: 55px 55px;
		width: 49px;
		height: 51px;
		margin-top: 3px;
		margin-left: 3px;

		& a {
			display: inline-block;
			width:33px;
			height:33px;
			border-radius:18px;
			background-color: var(--color_normal);
			position: absolute;
			right:-6px;
			top:0;
			padding:5px 0 0 5px;
			font-size:1.5em;


			}

		}

	}
}
/* -- The style personal account's into site - end*/

/* The HEARD STYLE - end */
@media screen and (min-width:321px){
	.font14{
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: center;
	text-decoration: underline;
}

	/* HEADER style - start */
	.header > div{
    z-index:3;

	}

	header .header::before, header .header::after {
	    content: '';
	    display: block;
	    z-index: 1;
	    width: 100%;
	    height: 80px;
	    position: absolute;
	    top: 0;
	    left: 0;
	    background: var(--color_font);
	}

	header .header::after{
	    bottom:0;
	    top: initial;
	    background: var(--color_bg);
	    height:54px;

	}


	header .header{
		width:100%;
		max-width:1920px;

		grid-template-columns: initial;
		grid-template-rows:initial;

		display:grid;

		column-gap:0;
		row-gap:0;
		justify-items: start;;

		& > div {
			grid-row:initial;
			grid-column:initial;

		}

		& .header__logo{ /* logo */
			grid-column:1/2;
			grid-row:1/2;
			width:130px;
			height:64.46px;
			margin:0 0 0 19px;
			background-size: 130px 54.46px;
			background-position: 0 10px;
		}

		& .header__nav { /* menu */
			grid-column:2 / 3;
			grid-row:1 / 2;
			margin: 18px 0 0 15px;
			justify-self: initial;

		}

		& .header__contact { /* contact block */
			padding:initial;
			width: 1fr;
			border:initial;

			grid-column: 3/4;
			grid-row:1/2;

			&::after{
				border:initial;
				content:initial;
			}

			& li:first-child {
				padding-top:5px;
			}

			& li {
				margin-bottom:initial;
			}

		}

		& .header__search { /* search form */
			grid-column:1/4;
			grid-row:2/3;
			/* max-width:558px; */

		    max-width: 517px;
            width: 76%; /* 82%; */

            padding-right: initial;

		}

		& .header__account{
			grid-column: 3/5;
			grid-row:2/3;

		}



	}

	/* --search form style- start */

	.header__search{
		& form{
			max-width: 1071px;
			display:flex;
			flex-direction: row;
			flex-wrap: nowrap;

			justify-content:start;
			gap: 16px;

		    width: 100%;



			& input[type=search]{
				flex-grow:  2;
				max-width:  287px;
				min-width:  217px;
				text-align:left;
				padding-left:   20px;

			}

			& button{

				font-size: 18px;
				font-weight: 400;
				line-height: 22px;
				letter-spacing: 0em;
				text-align: left;

				min-width:80px; /* 150px; */
				flex-grow:1;
				max-width:180px;
				background-image:initial;
				color: #fff;
				text-align: center;
			}
		}
	}
	/* --search form style- end */

	/* --lenguage's button  - start */
	.header__language{
		grid-column: 4/5;
		grid-row:1/2;
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		flex-grow:1;
		justify-content:space-between;
		width:100%;
		max-width:90px;
		box-sizing: border-box;
		padding: initial;
		margin:initial;

		& > div {
			box-sizing: content-box;
		}
		& div:first-child{
			margin: 6px 0 0 14px;
			height:29px;
		}

		& div:last-child{
			margin: 6px 14px 0 0;


		}


	}
	/* --lenguage's button  - end */

	/* --accaunt's head -style - start */
	.header__account{
		background-color:var(--color_bg);
		max-width:210px;
		width:100%;
		margin:initial;
		display:flex;
		flex-direction: row;
		flex-wrap:nowrap;
		justify-content: start;


		& a:nth-child(1){
			//@import 'variabls-style';
			display: inline-block;
			font-size: 12px;
			font-weight: 400;
			line-height: 14px;
			letter-spacing: 0em;
			line-height:12px;
			color: var(--color_hover);

			height:24px;
			width:45px;
			margin: 18px 0 0 15px;
		}

		& div:nth-child(2){
			background: no-repeat url(/site/resta/img/svg/accaunt_red.svg);
			margin-left:6px;
		}

		& > div:last-child{
			background: no-repeat url(/site/resta/img/svg/shopping-cart-red.svg);
			margin-left:2.6em;
			& a{

				@extend .font14;
				background-color:var(--backg_page);
				color: #fff;
				margin-top:0;
				width:24px;
				height:24px;
				padding: initial;
				padding: 5px 0 0 0;
				box-sizing:border-box;
				text-decoration: none;

	        }
		}
	}

	/* --accaunt's head -style - end */
	/* HEADER style - end */
}


@media screen and (min-width: 321px) and (max-width:   417px){
	/* -- The language's button style - start */
	.header__language{

		flex-shrink: 1;
	    width: initial;
    }
    /* -- The language's button style - end */

    /* -- The style personal account's into site - start*/
    .header__account{margin: 0 7px 5px 0; }
	/* -- The style personal account's into site - end*/

    /* --search form style- start */

	.header__search{


		& form{
			gap: 3%;

			& button {
			    width: 65px;
			    height: 35px;
			    background: no-repeat url(/site/resta/img/right-search.png) var(--color_normal);
			    background-position: 23px 13px;
			    color: var(--color_normal);
			    border-radius: 8px;
			    font-size: 1px;
			    vertical-align: top;
			}
		}
	}
	header .header .header__search{
		width:  100%;
	}
	/* --search form style- end */


	/* -- The contact's links a style - start */
	section.categoryMenu{
		& div.header__contact{
			display:none;
		}

	}
	/* -- The contact's links a style - end */
}
@media screen and (min-width: 321px) and (max-width:   624px){
	/* The HEARD STYLE - start */
	header .header{
		grid-template-columns:   1fr 1fr;
	    grid-template-rows: 82px 105px 54px;

		& .header__nav{
			flex-shrink: 1;
			grid-column: 2 / 3;
			grid-row: 1 / 2;

		}

		& .header__contact,
		& .header__language
		{
			grid-row: 2 / 3;
			grid-column: 1 / 2;
		}

		& .header__language{
			grid-column: 2 / 3;
			flex-direction: column;
			justify-content: center;

			min-width: 50px;
			width: auto;

			& > div:last-child{
				margin: 0 0 0 14px;

				& a {
					z-index: 3;
				}
			}

		}

		& .header__search,
		& .header__account{
			grid-row: 3 / 4;
			grid-column: 1 / 3;
			flex-shrink: 1;


			background-color: initial;
			min-width:120px;


			& > a:nth-child(1){
				font-size:  1px;
				margin-left: initial;
				display: none;


			}

			& > div:nth-child(2){
				& a {
					min-width: 28px;
					min-height: 30px;
					width: initial;
					padding:    initial;
					margin:    initial;
				}
			}

			& > div:last-child{
			    margin-right: 10px;
				margin-left: 3px;
			}
		}


		& .header__account{
			grid-column: 2 / 3;
			grid-row: 2 / 3;
			flex-direction: column;
			flex-shrink: 1;
			justify-content: space-between;

			min-width: 50px;
			width: initial;
			max-width: 220px;

			& > div:nth-child(2){
				background: no-repeat url(/site/resta/img/svg/accaunt.svg);
			}

		}

	}
	.header__contact li a{
		font-size: 12pt;
	}
	/* The HEARD STYLE - end */
	/* -- The contact's links a style - start */
		section.categoryMenu{
			gap: 1%;
			& div.header__contact{
				margin-left: 0;
				padding-left: initial;

			}
			& .categoryMenu__button{
				margin-right: 1%;
				& form {
					& input{ font-size: 13px;}
					}
			}
		}
	/* -- The contact's links a style - end */
}

/*
cpetialOffers */
