

@media screen and (min-width:321px){
	@import 'variabls-style';
	/* HEADER style - start */
	header .header{
		width:100%;
		max-width:1920px;

		grid-template-columns: initial;
		grid-template-rows:initial;

		display:grid;
		grid-template-rows: 82px 54px;
		grid-template-columns: 155px 1fr 1fr 90px;
		column-gap:0;
		row-gap:0;
		justify-items: start;;

		& > div {
			grid-row:initial;
			grid-column:initial;

		}

		& .header__logo{ /* logo */
			grid-column:1/2;
			grid-row:1/2;
			width:130px;
			height:64.46px;
			margin:0 0 0 19px;
			background-size: 130px 54.46px;
			background-position: 0 10px;
		}

		& .header__nav { /* menu */
			grid-column:2 / 3;
			grid-row:1 / 2;
			margin: 18px 0 0 15px;
			justify-self: initial;

		}

		& .header__contact { /* contact block */
			padding:initial;
			width: 1fr;
			border:initial;

			grid-column: 3/4;
			grid-row:1/2;

			&::after{
				border:initial;
				content:initial;
			}

			& li:first-child {
				padding-top:5px;
			}

			& li {
				margin-bottom:initial;
			}

		}

		& .header__search { /* search form */
			grid-column:1/4;
			grid-row:2/3;
			max-width:558px;

		}

		& .header__account{
			grid-column: 3/5;
			grid-row:2/3;

		}



	}

	/* HEADER style - end */
	/* CATEGORY product - style  - start*/
	/* -- title category - style - start */
	.main__title{
		display:flex;
		flex-direction:row;
		flex-wrap: nowrap;
		flex-grow:1;
		justify-content:center;


	}
	.category__title{
		padding:initial;
	}
	/* -- title category - style - and */

	/* --category product style -start */
	.category{
		display:flex;
		flex-direction: column;

		& > div:last-child{
			display:flex;
			flex-direction: row;
			flex-wrap: wrap;

			& > div{
				flex-grow:1;
				width:100%;
			}

			& .category__catalog {
				display:flex;
				flex-direction:row;
				flex-grow: 1;
				flex-wrap:wrap;
				justify-content:center;
				margin:initial;


			}



		}


		& .catalog__allProduct{
			display:flex;
			flex-direction:row;
			flex-wrap:nowrap;


			& a {
				margin:initial;
			}

		}
	}
	/* --category product style - and */


	/* --search form style- start */

	.header__search{
		& form{
			max-width: 1071px;
			display:flex;
			flex-direction: row;
			flex-wrap: nowrap;

			justify-content:start;
			gap: 16px;

			& input[type=search]{
				flex-grow:2;
				max-width:287px;
				text-align:left;
				padding-left:20px;

			}

			& button{

				font-size: 18px;
				font-weight: 400;
				line-height: 22px;
				letter-spacing: 0em;
				text-align: left;

				min-width:150px;
				flex-grow:1;
				max-width:180px;
				background-image:initial;
				color: #fff;
				text-align: center;
			}
		}
	}
	/* --search form style- end */

	/* --lenguage's button  - start */
	.header__language{
		grid-column: 4/5;
		grid-row:1/2;
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		flex-grow:1;
		justify-content:space-between;
		width:100%;
		max-width:90px;
		box-sizing: border-box;
		padding: initial;
		margin:initial;

		& > div {
			box-sizing: content-box;
		}
		& div:first-child{
			margin: 6px 0 0 14px;
			height:29px;
		}

		& div:last-child{
			margin: 6px 14px 0 0;


		}


	}
	/* --lenguage's button  - end */

	/* --accaunt's head -style - start */
	.header__account{
		background-color:var(--color_bg);
		max-width:210px;
		width:100%;
		margin:initial;
		display:flex;
		flex-direction: row;
		flex-wrap:nowrap;
		justify-content: start;


		& a:nth-child(1){
			display: inline-block;
			@extend %font_link_12;
			line-height:12px;
			color: var(--color_hover);

			height:24px;
			width:45px;
			margin: 18px 0 0 15px;
		}

		& div:nth-child(2){
			background: no-repeat url(/site/resta/img/svg/accaunt_red.svg);
			margin-left:6px;
		}

		& div:last-child{
			background: no-repeat url(/site/resta/img/svg/shopping-cart-red.svg);
			margin-left:2.6em;
			& a{

				@extend %font_link_14;
				background-color:var(--backg_page);
				color: #fff;
				margin-top:0;
				width:24px;
				height:24px;
				padding: initial;
				padding: 5px 0 0 0;
				box-sizing:border-box;
				text-decoration: none;

	        }
		}
	}

	/* --accaunt's head -style - end */

	/* --a top's Slider under a header style - start */
	.topSection__slider {
		width: 100%;
		max-width: 768px;
		height:532px;
		/* height: 100%; */
		max-height: 532px;

	}

	/* --a top's Slider under a header style - end */

	/* TOPsECTION__SLIDER TOPsLIDER style - start */
	.topSection {
		& > div:last-child{
			& > div{
				/* max-width:600px;*/
				height: 19.289em;
				max-height:347px;
				margin-bottom:initial;
				& > ul{
					& li{
						position: absolute;
						width:100%;
						max-width: 300px;
						padding:6px 0 0 114px;
					}
					& li:first-child{
						top:36px;
						left:84px;
						background-size: 77px 41px;


					}

					& li:nth-child(2){
						top: 110px;
						left: calc(50% + 45px);
						height: 60px;
						background-size: 60px 49px;
						padding-left:98px;
					}

					& li:last-child{
						top: 193px;
						left: 74px;
						background-size: 63px 55px;
						padding:10px 0 0 90px;


					}
				}
			}
		}
	}

	/* TOPsECTION__SLIDER TOPsLIDER style - end */
	.catalog{
		display:flex;
		flex-direction:row;
		flex-wrap: wrap;
		justify-content: start;
		padding-left:48px;
		padding-top:1px;
		margin:initial;
		margin-bottom:48px;


		& > div{
			display:inline-block;
			margin:initial;
			margin-bottom: 18px;


		}


	}



	/* block SPECIAL OFFER style - start */
	.cpetialOffers{
		display:flex;
		flex-direction: column;
		height:826px;
		justify-content:start;

		& .main__title{
			padding:initial;
			flex-grow:initial;
			padding: 0 50px;
		}

		& > div:last-child{
			display:flex;
			flex-direction:row;
			flex-wrap: wrap;

			padding-left:34px;
			justify-content:center;
			gap:35px;
			height:826px;
			box-sizing: border-box;


		}

		& .catalog__furniture{
			margin:initial;

		}


	}
}
/* block SPECIAL OFFER style - end */


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }

