/* @import url('/css/screen-style.css');*/

/* @import url('_null-style.scss'); */

/* The common-style - start */

@import 'header', 'main', 'aside', 'top-slider';


body{
	display:inline-block;
}

body > header,
body > section,
body > main,
body > nav,
body > footer {min-width: 298px; max-width: 1920px; margin: 0 auto; flex-wrap: wrap;}



/* the  UPPER OFFER style , under upper the slider - start*/

/* the  UPPER OFFER style , under upper the slider - end*/

