/* the TOP SLIDER's style - start */
.topSection__slider {
	width: 100%;
	min-width:320px;
	max-width: initial;
	height:158px;

	overflow:hidden;

	& ul{
		display: block;
		height: 155px;
	}
}

.sliderTop {
	display: block;
	height: 100%;

	& > div{
		width: initial;
		min-height:155px;
		position: relative;
		padding-top: 38px;

	}
	& .sliderTop__slider{

	position: absolute;
    left: -197%;
    top: -184px;
    /* -webkit-transform: scale(0.3); */
    z-index: 2;
    transform: scale(0.4);
	}

	& .sliderTop__title{
		width: 225px;
		margin: 0 auto;
		z-index: 3;

		& h1 {
			font-size: 1.3em;
			font-weight: 700;
			line-height: 29px;
			letter-spacing: 0em;
			text-align: left;
			color: #ffffff;
			padding-right: 20px;
			}
	}
	& > div .sliderTop__form,
	& > div .sliderTop__slider:nth-child(4),
	& > div> div:nth-child(5),
	& > div .topSlider__social
	 {
		display: none;
	}

}
/* the TOP SLIDER's style - end */