/* the TOP SLIDER's style - start */
.topSection__slider {
	width: 100%;
	min-width:320px;
	max-width: initial;
	height:158px;

	overflow:hidden;

	& ul{
		display: block;
		height: 155px;
	}
}

.sliderTop {
	display: block;
	height: 100%;

	& > div{
		width: initial;
		min-height:155px;
		position: relative;
		padding-top: 38px;

	}
	& .sliderTop__slider{

	position: absolute;
    left: -197%;
    top: -184px;
    /* -webkit-transform: scale(0.3); */
    z-index: 2;
    transform: scale(0.4);
	}

	& .sliderTop__title{
		width: 225px;
		margin: 0 auto;
		z-index: 3;

		& h1 {
			font-size: 1.3em;
			font-weight: 700;
			line-height: 29px;
			letter-spacing: 0em;
			text-align: left;
			color: #ffffff;
			padding-right: 20px;
			}
	}
	& > div .sliderTop__form,
	& > div .sliderTop__slider:nth-child(4),
	& > div> div:nth-child(5),
	& > div .topSlider__social
	 {
		display: none;
	}

}
/* the TOP SLIDER's style - end */

@media screen and (min-width:321px){
	@import 'variabls-style';

	/* --accaunt's head -style - start */
	.header__account{
		background-color:var(--color_bg);
		max-width:210px;
		width:100%;
		margin:initial;
		display:flex;
		flex-direction: row;
		flex-wrap:nowrap;
		justify-content: start;


		& a:nth-child(1){
			display: inline-block;
			@extend %font_link_12;
			line-height:12px;
			color: var(--color_hover);

			height:24px;
			width:45px;
			margin: 18px 0 0 15px;
		}

		& div:nth-child(2){
			background: no-repeat url(/site/resta/img/svg/accaunt_red.svg);
			margin-left:6px;
		}

		& div:last-child{
			background: no-repeat url(/site/resta/img/svg/shopping-cart-red.svg);
			margin-left:2.6em;
			& a{

				@extend %font_link_14;
				background-color:var(--backg_page);
				color: #fff;
				margin-top:0;
				width:24px;
				height:24px;
				padding: initial;
				padding: 5px 0 0 0;
				box-sizing:border-box;
				text-decoration: none;

	        }
		}
	}

	/* --accaunt's head -style - end */

	/* --a top's Slider under a header style - start */
	.topSection__slider {
		width: 100%;
		max-width: 768px;
		height:532px;
		/* height: 100%; */
		max-height: 532px;

	}

	/* --a top's Slider under a header style - end */

	/* TOPsECTION__SLIDER TOPsLIDER style - start */
	.topSection {
		& > div:last-child{
			& > div{
				/* max-width:600px;*/
				height: 19.289em;
				max-height:347px;
				margin-bottom:initial;
				& > ul{
					& li{
						position: absolute;
						width:100%;
						max-width: 300px;
						padding:6px 0 0 114px;
					}
					& li:first-child{
						top:36px;
						left:84px;
						background-size: 77px 41px;


					}

					& li:nth-child(2){
						top: 110px;
						left: calc(50% + 45px);
						height: 60px;
						background-size: 60px 49px;
						padding-left:98px;
					}

					& li:last-child{
						top: 193px;
						left: 74px;
						background-size: 63px 55px;
						padding:10px 0 0 90px;


					}
				}
			}
		}
	}

	/* TOPsECTION__SLIDER TOPsLIDER style - end */
	.catalog{
		display:flex;
		flex-direction:row;
		flex-wrap: wrap;
		justify-content: start;
		padding-left:48px;
		padding-top:1px;
		margin:initial;
		margin-bottom:48px;


		& > div{
			display:inline-block;
			margin:initial;
			margin-bottom: 18px;


		}


	}



	/* block SPECIAL OFFER style - start */
	.cpetialOffers{
		display:flex;
		flex-direction: column;
		height:826px;
		justify-content:start;

		& .main__title{
			padding:initial;
			flex-grow:initial;
			padding: 0 50px;
		}

		& > div:last-child{
			display:flex;
			flex-direction:row;
			flex-wrap: wrap;

			padding-left:34px;
			justify-content:center;
			gap:35px;
			height:826px;
			box-sizing: border-box;


		}

		& .catalog__furniture{
			margin:initial;

		}


	}
}