
:root{
	--backg_page:#949396; /* фон страницы*/
	--color_active:#A41656; /* цвет-active */
	--color_hover:#5A082D; /* цвет-hover */
	--color_normal:#8C325B; /* цвет кнопок ссылок*/
	--color_bg: #C4C4C4; /* фоновый цвет */
	--primary_color: #ffffff;
	--color_font:#5D5B61; /* фон шапки */
	--primary__cursor: pointer;
	--primary_border:1px #949396 solid;


}

%font_link_12{
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	letter-spacing: 0em;}

%font_link_14{

	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
	text-align: center;
	text-decoration: underline;

}

%font_number_tel_footer{
	font-family: Panton;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;

}
%font_linkUnderCategory{
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
}

%font_h3Catalog{

	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;
}

%font_oldPrice{

	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;

}
%font_newPrice{

	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;

}
%coren-block{
	min-width: 320px;
	width: 100%;
	z-index: 1;
	margin: 0 auto;
}

%primary-afterBefore{
	content: '';
	display:inline-block;
	position: absolute;
}

%primary-block-absolute{
	display:inline-block;
	position: absolute;
}

%first_block{
    display: flex;
    flex-wrap: nowrap;
    flex-basis: auto;
    justify-content: center;
    z-index:1;
}