@-ms-viewport{width: device-width;}
@-o-viewport{width: device-width;}
@viewport{width: device-width;}
body {/* width: 1920px; *//* margin:0 auto; *//* max-width: 1170px; */display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}
/* sbros stilei */
* { -webkit-box-sizing: border-box; box-sizing: border-box;  -moz-box-sizing: border-box; border:0; margin:0; border:0; padding:0; letter-spacing:1px}
#body *{}
html, body, div, object, ifreine, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, addr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, ol, ul, li, fieldset, form, ladel, legent, table, caption, tbody, tfoot, thead, tr,  th, td, article, aside, canvas, details, embed, figure, figcapcion, footer,  header, hgroup, menu, output, ruby, time, mark, audio, video, select, input, textarea, span, applet, iframe, dd, label, legend, table, figcaption, nav, summary {margin:0; padding:0; border:0px; vertical-align:baseline; outline: 0; position: relative; vertical-align: baseline; font-family:'Panton', sans-serif, 'Arial', 'Helvetica'; font-size: 12px;}
form, input, button{ -webkit-box-sizing: border-box; box-sizing: border-box; }
button, input[type='submit'], input[type='button'], input[type='reset'], a, a:link, a:active, a:hover, a:focuse {cursor:pointer;}
a{text-decoration:none;}
div, article, aside, details, figcaption, figure, header, hgroup, menu, nav, section, li, footer, { display: block; }
body{line-height:1;}
table{border-collapse:collapse; border-spacing:0;}
ol, ul {list-style: none; }
blockquote,q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content: ''; content:none;}
ins {text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
*{zoom:1}
h1{font-size:46px;}
h2{font-size:30px;font-weight: 400;}
h3{font-size:24px;font-weight: 400;}
h4{font-size:16px;font-weight: 500;}
h5{font-size:14px;font-weight: 500;}
@font-face {
    font-family: 'Panton';
    src: url('/fonts/panton/Panton-BoldItalic.eot');
    src: local('Panton Bold Italic'), local('Panton-BoldItalic'),
        url('/fonts/panton/Panton-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/panton/Panton-BoldItalic.woff2') format('woff2'),
        url('/fonts/panton/Panton-BoldItalic.woff') format('woff'),
        url('/fonts/panton/Panton-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Panton';
    src: url('/fonts/panton/Panton-SemiBold.eot');
    src: local('Panton SemiBold'), local('Panton-SemiBold'),
        url('/fonts/panton/Panton-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/panton/Panton-SemiBold.woff2') format('woff2'),
        url('/fonts/panton/Panton-SemiBold.woff') format('woff'),
        url('/fonts/panton/Panton-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Panton';
    src: url('/fonts/panton/Panton-ExtraBoldItalic.eot');
    src: local('Panton ExtraBold Italic'), local('Panton-ExtraBoldItalic'),
        url('/fonts/panton/Panton-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/panton/Panton-ExtraBoldItalic.woff2') format('woff2'),
        url('/fonts/panton/Panton-ExtraBoldItalic.woff') format('woff'),
        url('/fonts/panton/Panton-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Panton';
    src: url('/fonts/panton/Panton-ExtraLightItalic.eot');
    src: local('Panton ExtraLight Italic'), local('Panton-ExtraLightItalic'),
        url('/fonts/panton/Panton-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/panton/Panton-ExtraLightItalic.woff2') format('woff2'),
        url('/fonts/panton/Panton-ExtraLightItalic.woff') format('woff'),
        url('/fonts/panton/Panton-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Panton';
    src: url('/fonts/panton/Panton-SemiBoldItalic.eot');
    src: local('Panton SemiBold Italic'), local('Panton-SemiBoldItalic'),
        url('/fonts/panton/Panton-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/panton/Panton-SemiBoldItalic.woff2') format('woff2'),
        url('/fonts/panton/Panton-SemiBoldItalic.woff') format('woff'),
        url('/fonts/panton/Panton-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Panton';
    src: url('/fonts/panton/Panton-Black.eot');
    src: local('Panton Black'), local('Panton-Black'),
        url('/fonts/panton/Panton-Black.eot?#iefix') format('embedded-opentype'),
        url('/fonts/panton/Panton-Black.woff2') format('woff2'),
        url('/fonts/panton/Panton-Black.woff') format('woff'),
        url('/fonts/panton/Panton-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Panton';
    src: url('/fonts/panton/Panton-BlackItalic.eot');
    src: local('Panton Black Italic'), local('Panton-BlackItalic'),
        url('/fonts/panton/Panton-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/panton/Panton-BlackItalic.woff2') format('woff2'),
        url('/fonts/panton/Panton-BlackItalic.woff') format('woff'),
        url('/fonts/panton/Panton-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Panton';
    src: url('/fonts/panton/Panton-Light.eot');
    src: local('Panton Light'), local('Panton-Light'),
        url('/fonts/panton/Panton-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/panton/Panton-Light.woff2') format('woff2'),
        url('/fonts/panton/Panton-Light.woff') format('woff'),
        url('/fonts/panton/Panton-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Panton';
    src: url('/fonts/panton/Panton-ExtraBold.eot');
    src: local('Panton ExtraBold'), local('Panton-ExtraBold'),
        url('/fonts/panton/Panton-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/panton/Panton-ExtraBold.woff2') format('woff2'),
        url('/fonts/panton/Panton-ExtraBold.woff') format('woff'),
        url('/fonts/panton/Panton-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Panton';
    src: url('/fonts/panton/Panton-Bold.eot');
    src: local('Panton Bold'), local('Panton-Bold'),
        url('/fonts/panton/Panton-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/panton/Panton-Bold.woff2') format('woff2'),
        url('/fonts/panton/Panton-Bold.woff') format('woff'),
        url('/fonts/panton/Panton-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Panton';
    src: url('/fonts/panton/Panton-Regular.eot');
    src: local('Panton'), local('Panton-Regular'),
        url('/fonts/panton/Panton-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/panton/Panton-Regular.woff2') format('woff2'),
        url('/fonts/panton/Panton-Regular.woff') format('woff'),
        url('/fonts/panton/Panton-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Panton';
    src: url('/fonts/panton/Panton-Thin.eot');
    src: local('Panton Thin'), local('Panton-Thin'),
        url('/fonts/panton/Panton-Thin.eot?#iefix') format('embedded-opentype'),
        url('/fonts/panton/Panton-Thin.woff2') format('woff2'),
        url('/fonts/panton/Panton-Thin.woff') format('woff'),
        url('/fonts/panton/Panton-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Panton';
    src: url('/fonts/panton/Panton-HeavyItalic.eot');
    src: local('Panton Heavy Italic'), local('Panton-HeavyItalic'),
        url('/fonts/panton/Panton-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/panton/Panton-HeavyItalic.woff2') format('woff2'),
        url('/fonts/panton/Panton-HeavyItalic.woff') format('woff'),
        url('/fonts/panton/Panton-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Panton';
    src: url('/fonts/panton/Panton-LightItalic.eot');
    src: local('Panton Light Italic'), local('Panton-LightItalic'),
        url('/fonts/panton/Panton-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/panton/Panton-LightItalic.woff2') format('woff2'),
        url('/fonts/panton/Panton-LightItalic.woff') format('woff'),
        url('/fonts/panton/Panton-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Panton';
    src: url('/fonts/panton/Panton-ExtraLight.eot');
    src: local('Panton ExtraLight'), local('Panton-ExtraLight'),
        url('/fonts/panton/Panton-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('/fonts/panton/Panton-ExtraLight.woff2') format('woff2'),
        url('/fonts/panton/Panton-ExtraLight.woff') format('woff'),
        url('/fonts/panton/Panton-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Panton';
    src: url('/fonts/panton/Panton-ThinItalic.eot');
    src: local('Panton Thin Italic'), local('Panton-ThinItalic'),
        url('/fonts/panton/Panton-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/panton/Panton-ThinItalic.woff2') format('woff2'),
        url('/fonts/panton/Panton-ThinItalic.woff') format('woff'),
        url('/fonts/panton/Panton-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Panton';
    src: url('/fonts/panton/Panton-RegularItalic.eot');
    src: local('Panton Regular Italic'), local('Panton-RegularItalic'),
        url('/fonts/panton/Panton-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/panton/Panton-RegularItalic.woff2') format('woff2'),
        url('/fonts/panton/Panton-RegularItalic.woff') format('woff'),
        url('/fonts/panton/Panton-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Panton';
    src: url('/fonts/panton/Panton-Heavy.eot');
    src: local('Panton Heavy'), local('Panton-Heavy'),
        url('/fonts/panton/Panton-Heavy.eot?#iefix') format('embedded-opentype'),
        url('/fonts/panton/Panton-Heavy.woff2') format('woff2'),
        url('/fonts/panton/Panton-Heavy.woff') format('woff'),
        url('/fonts/panton/Panton-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
/*# sourceMappingURL=nulstyle-dist.css.map */