/* screen-style */

@media screen and (min-width: 321px){
	/* The common-style - start */
    body{width:inherit;}
    body > *{max-width: none;max-width: initial;width: 100%;}

	/* The common-style - end */

	 /* --header-shopping_cart-style - start */
	 header{ -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; }
    .heder__searchAccaunt{right: 5px;}
	  /* --header-shopping_cart-style - end */
	  
	  /* The NAV MENU DELIVERY STYLE - start*/
     #navCatalog + section {padding-left: 42px;}
      
     .section__menuDelivery{}
     .section__menuDelivery li{padding-left: 55px;height: 26px;width: auto;width: initial;}

    .section__menuDelivery li:before { left: -1px; }

    .main__sliderWrapperItemsPosition, .main__offer{margin: 0 auto;margin-bottom: 30px;}
    .slider__allProduct{ right: auto; left: 35%; }
    .slider__indicators{ z-index: 3; right: auto; left: 45%; width: 60px; display: block; bottom: 33px;  }

    .slider__indicator { display: inline-block; }

   /* -- The maine our offers - start */
   #main__ourOffers{margin-bottom:32px;}
    .main__offer > .main__offerInCart > a{width:60px;}
   /* -- The maine our offers - end */
   
/* -- The maine article - start */
	 #main__article{ padding: 27px 23.5px 0 23.5px; }
     #main__article ul{}
     #main__article ul li{ max-width: 471px; width: auto; }

 /* -- The maine article - end */

 /* -- The maine form write us - start */
    #main__writeUs{ padding: 22px 23.5px 35px 23.5px; }
    #main__writeUs form{ width: 264px; margin: 0 auto; }
 /* -- The maine form write us - end */


	    /* The NAV MENU DELIVERY STYLE - end*/

}

@media screen and (min-width: 540px){
		  
/* The COMMON-STYLE - start */	
/* The COMMON-STYLE - and */


/* The HEADER-STYLE - start */
	

	/* --header-logo-style - start */
	header{-ms-flex-pack: distribute;justify-content: space-around;height: auto;-ms-flex-wrap: wrap;flex-wrap: wrap;}
	.header__contact.header{width:173px}
	/* --header-logo-style - end */
	
	
	/* --header-nav-style - start */
	/* --header-nav-style - end */
	
	/* --header-langusge-style - start */
	/* --header-langusge-style - end */
	
	/* --header-contact-style - start */
	.header__contact.header a:last-of-type{
    line-height: 1.1;
    margin-bottom: 0;
    margin-bottom: initial;
}
	/* --header-contact-style - end */
	
	/* --header-form_search-style - start */
	.header__contact.header{padding-top: 0;padding-top: initial;border-left: 1px #fff solid;height: -webkit-fit-content;height: -moz-fit-content;height: fit-content;padding-left: 25px;margin-bottom: 13px;}

    .header__contact.header::after { display: none; }
	.heder__search{-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;padding-left: 24px;padding-right: 24px;-webkit-box-sizing: border-box;box-sizing: border-box;background-color: #C4C4C4;}

    .heder__searchAccaunt {position: static;position: initial;width: 138px;height: auto;height: initial;right: auto;right: initial;top: auto;top: initial;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-direction: row;flex-direction: row;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
	/* --header-form_search-style - end */
    
    /* --header-shopping_cart-style - start */
	.heder__searchAccaunt > div:first-child{background:no-repeat url(/img/svg/accaunt_red.svg);vertical-align: bottom;background-position-y: bottom;}


	
	.heder__searchAccaunt > div:last-child{background: no-repeat url(/img/svg/shopping-cart-red.svg);background-position-y: center;background-position-x: -1px;}
	.heder__searchAccaunt > div:last-child span {background-color:var(--backg_page);border:var(--backg_page);right: -27px;top: -4px;}
    /* --header-shopping_cart-style - end */

/* The HEADER-STYLE - end */


/* The NAV CATALOG STYLE - start*/
/* The NAV CATALOG STYLE - end*/




/* The NAV MENU DELIVERY STYLE - start*/
    
/* The NAV MENU DELIVERY STYLE - end*/

/* The MAIN STYLE - start*/
        
     /* --the maine menu - start */
    /* --the maine menu - end */
    
    /* --the maine product category - start */
    /* --the maine product category - end */
    
    /* --the the maine product category slider - start */
	.slider__items{width: 490px; margin: 0 auto; overflow: hidden;}
	.slider__item, .slider__item{-webkit-box-flex:initial;-ms-flex:initial;flex:initial;/* margin-right:10px; */}
    /* --the the maine product category slider - end */
    
    /* -- The maine our offers - start */
	#main__ourOffers{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 53px 360px;
    grid-template-rows: 53px 360px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
	#main__ourOffers > *:nth-child(1){-ms-grid-row:1;-ms-grid-column:1;
}
	#main__ourOffers > *:nth-child(2){-ms-grid-row:1;-ms-grid-column:2;
}
	#main__ourOffers > *:nth-child(3){-ms-grid-row:2;-ms-grid-column:1;
}
	#main__ourOffers > *:nth-child(4){-ms-grid-row:2;-ms-grid-column:2;
}

.main__sectionTitle {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    text-align: left;
    width: 100%;
}
	.main__offer{-ms-grid-row: 2;-ms-grid-row-span: 1;grid-row: 2/3;-ms-grid-column: 1;-ms-grid-column-span: 1;grid-column: 1/2;}

.main__offer + .main__offer {
    -ms-grid-row: 2;
    grid-row: 2/2;
    -ms-grid-column: 2;
    grid-column: 2/2;
}
    /* -- The maine our offers - end */

    /* -- The maine article - start */
    /* -- The maine article - end */

    /* -- The maine form write us - start */
    /* -- The maine form write us - end */
   
/* The MAIN STYLE - end*/
    
/* The FOOTER STYLE - start */
    footer > div:nth-of-type(2), footer > div:nth-of-type(3), footer > div:nth-of-type(4){-ms-grid-column: 1;-ms-grid-column-span: 2;grid-column: 1 / 3;}

footer > div:nth-of-type(5) { -ms-grid-column: 3; -ms-grid-column-span: 2; grid-column: 3 / 5; -ms-grid-row: 3; grid-row: 3 /3;}

footer > div:nth-of-type(2) { -ms-grid-row: 2; grid-row: 2 / 2; -ms-grid-column: 3; -ms-grid-column-span: 2; grid-column: 3 / 5; }
    /*-- The cocial  network - start */
    /*-- The cocial  network - end */

    /*-- The site autor - start */
    /*-- The site autor - end */

/* The FOOTER STYLE - end */

	
}

@media screen and (min-width: 600px){
/* The COMMON-STYLE - start */	
/* The COMMON-STYLE - and */


/* The HEADER-STYLE - start */
	

	/* --header-logo-style - start */
	/* --header-logo-style - end */
	
	
	/* --header-nav-style - start */
	/* --header-nav-style - end */
	
	/* --header-langusge-style - start */
	/* --header-langusge-style - end */
	
	/* --header-contact-style - start */
	/* --header-contact-style - end */
	
	/* --header-form_search-style - start */
	.heder__searchAccaunt > div:first-child{ background-position-x: right; width: 88px; height: 34px; top: 5px; }
	.heder__searchAccaunt{width: 150px;}
	.heder__searchAccaunt > div:first-child::before {content: 'Личный кабинет';color: var(--color_bottom);width: 45px;height: 24px;position: absolute;left: 4px;top: 6px;z-index: 2;font-size: 12px;}
	.heder__searchAccaunt > div:first-child a{ display: block; height: 100%; width: 100%; z-index: 4; }
	/* --header-form_search-style - end */
    
    /* --header-shopping_cart-style - start */
	
    /* --header-shopping_cart-style - end */

/* The HEADER-STYLE - end */


/* The NAV CATALOG STYLE - start*/
/* The NAV CATALOG STYLE - end*/




/* The NAV MENU DELIVERY STYLE - start*/
    
/* The NAV MENU DELIVERY STYLE - end*/

/* The MAIN STYLE - start*/
        
     /* --the maine menu - start */
    /* --the maine menu - end */
    
    /* --the maine product category - start */
    /* --the maine product category - end */
    
    /* --the the maine product category slider - start */
    /* --the the maine product category slider - end */
    
    /* -- The maine our offers - start */
	
    /* -- The maine our offers - end */

    /* -- The maine article - start */
    /* -- The maine article - end */

    /* -- The maine form write us - start */
    /* -- The maine form write us - end */
   
/* The MAIN STYLE - end*/
    
/* The FOOTER STYLE - start */
    
    /*-- The cocial  network - start */
    /*-- The cocial  network - end */

    /*-- The site autor - start */
    /*-- The site autor - end */

/* The FOOTER STYLE - end */

}

@media screen and (min-width: 768px){	  
/* The COMMON-STYLE - start */	
/* The COMMON-STYLE - and */


/* The HEADER-STYLE - start */
	header{-webkit-box-pack: inherit;-ms-flex-pack: inherit;justify-content: inherit;-webkit-box-orient: initial;-webkit-box-direction: initial;-ms-flex-direction: initial;flex-direction: initial;display: -ms-grid;display: grid;-ms-grid-columns: 160px 70px 1fr 215px 1fr 1fr;grid-template-columns: 160px 70px 1fr 215px 1fr 1fr;-ms-grid-rows: 75px 53px;grid-template-rows: 75px 53px;padding-top: 16px;}
	header > *:nth-child(1){-ms-grid-row:1;-ms-grid-column:1;}
	header > *:nth-child(2){-ms-grid-row:1;-ms-grid-column:2;}
	header > *:nth-child(3){-ms-grid-row:1;-ms-grid-column:3;}
	header > *:nth-child(4){-ms-grid-row:1;-ms-grid-column:4;}
	header > *:nth-child(5){-ms-grid-row:1;-ms-grid-column:5;}
	header > *:nth-child(6){-ms-grid-row:1;-ms-grid-column:6;}
	header > *:nth-child(7){-ms-grid-row:2;-ms-grid-column:1;}
	header > *:nth-child(8){-ms-grid-row:2;-ms-grid-column:2;}
	header > *:nth-child(9){-ms-grid-row:2;-ms-grid-column:3;}
	header > *:nth-child(10){-ms-grid-row:2;-ms-grid-column:4;}
	header > *:nth-child(11){-ms-grid-row:2;-ms-grid-column:5;}
	header > *:nth-child(12){-ms-grid-row:2;-ms-grid-column:6;}

	/* --header-logo-style - start */
	.header__logo.header{ margin-left: 24px; width: 132px; height: 55px; margin-top: 5px; -ms-grid-row: 1; -ms-grid-row-span: 1; grid-row: 1/2; -ms-grid-column: 1; -ms-grid-column-span: 2; grid-column: 1/3; }	
	/* --header-logo-style - end */
	
	
	/* --header-nav-style - start */
	.header__nav.nav.header {-ms-grid-column: 2;-ms-grid-column-span: 1;grid-column: 2/3;-ms-grid-row: 1;-ms-grid-row-span: 1;grid-row: 1/2;width: 46px;height: 42px;margin-top: 14px;padding-left: 0;margin-left: 13.97px;border-radius: 8px;border: 1px #fff solid;}

	.header__nav.header div:first-of-type { top: 11px; left: 7px; } 
	.header__nav.header > nav::before { top: 19px; }
	/* --header-nav-style - end */
	
	/* --header-langusge-style - start */
	.header__languege.header {-ms-grid-column: 6;-ms-grid-column-span: 1;grid-column: 6/7;-ms-grid-row: 1;-ms-grid-row-span: 1;grid-row: 1/2;left: auto;left: initial;right: auto;right: initial;padding: 2px 24px 0 17px;}
	/* --header-langusge-style - end */
	
	/* --header-contact-style - start */
	.header__contact.header {-ms-grid-column: 3;-ms-grid-column-span: 3;grid-column: 3/6;-ms-grid-row: 1;-ms-grid-row-span: 1;grid-row: 1/2;justify-self: flex-end;margin-right: 44px;}
	.header__contact.header a:nth-of-type(2) {margin-bottom: 4px;}
	.header__contact.header a { font-size: 1.001em; }
	/* --header-contact-style - end */
	
	/* --header-form_search-style - start */
	.heder__search {-ms-grid-row: 2;-ms-grid-row-span: 1;grid-row: 2/3;-ms-grid-column: 1;-ms-grid-column-span: 6;grid-column: 1/7;}
	.heder__search form{ width: 495px; }

	.heder__search form input { width: 290px; }

	.heder__search form button { margin-left: 8px; width: 100%; max-width: 180px; height: 36px; background-image: none; font-size: 1.15em; color: #fff; font-weight: 400; padding-top: 0; }
	/* --header-form_search-style - end */
    
    /* --header-shopping_cart-style - start */
	.heder__searchAccaunt{ width: 200px; }
    /* --header-shopping_cart-style - end */

/* The HEADER-STYLE - end */


/* The NAV CATALOG STYLE - start*/
		#navCatalog{
    min-height: 831px;
    top: 170px;
    width: 77px;
}

#navCatalog::before, #navCatalog::after {
    font-family: Panton;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 0;
    width: 100%;
    padding-right: 20px;
}

#navCatalog::after {
}

/* The NAV CATALOG STYLE - end*/




/* The NAV MENU DELIVERY STYLE - start*/
	.section__menuDedivvery{
    height: 287px;
    padding-top: 63px;
    -ms-grid-rows: 59px 4px 59px 4px 80px;
    grid-template-rows: 59px 59px 80px;
    grid-row-gap: 4px;
    row-gap: 4px;
}

	.section__menuDedivvery div a{
    line-height: 1.2;
}

.section__menuDedivvery div:nth-of-type(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    padding-left: 167px;
    background-size: 76px auto;
    background-position: 74px -2px;
    width: 380px;
}

.section__menuDedivvery div:nth-of-type(2) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    background-size: 65px auto;
    background-position: 45px 8px;
    padding-left: 120px;
}

.section__menuDedivvery div:nth-of-type(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    padding-left: 139px;
    padding-top: 36px;
    background-position: 66px 24px;
    background-size: 56px auto;
    /* align-items: baseline; */
    height: auto;
    height: initial;
}
	
    
/* The NAV MENU DELIVERY STYLE - end*/

/* The MAIN STYLE - start*/
        #main{
    padding-top: 0;
    padding-top: initial;
}
     /* --the maine menu - start */


    /* --the maine menu - end */
    
    /* --the maine product category - start */
	.slider__items{width: 590px;-ms-flex-wrap: wrap;flex-wrap: wrap;}
	.main__product{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 290px 10px 290px;
    grid-template-columns: repeat(2, 290px);
    -ms-grid-rows: 197px 10px 197px 10px 197px;
    grid-template-rows: repeat(3, 197px);
    grid-row-gap: 10px;
    row-gap: 10px;
    grid-column-gap: 10px;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
	.main__product > *:nth-child(1){-ms-grid-row:1;-ms-grid-column:1;
}
	.main__product > *:nth-child(2){-ms-grid-row:1;-ms-grid-column:3;
}
	.main__product > *:nth-child(3){-ms-grid-row:3;-ms-grid-column:1;
}
	.main__product > *:nth-child(4){-ms-grid-row:3;-ms-grid-column:3;
}
	.main__product > *:nth-child(5){-ms-grid-row:5;-ms-grid-column:1;
}
	.main__product > *:nth-child(6){-ms-grid-row:5;-ms-grid-column:3;
}

	#main__productCategory .main__product > div:nth-of-type(1n+2) {
}

.main__sliderWrapperItemsPosition {
    width: 261px;
    margin: 0;
    margin: initial;
    height: 169px;
}

.main__sliderWrapperItemsPosition > div {
    -ms-grid-columns: 104px 1fr;
    grid-template-columns: 104px 1fr;
    -ms-grid-rows: 75px;
    grid-template-rows: 75px;
    margin: 0;
    margin: initial;
    margin-bottom: 11px;
}

.main__sliderWrapperItemsPosition > div > *:nth-child(1) {-ms-grid-row:1;-ms-grid-column:1;
}

.main__sliderWrapperItemsPosition > div > *:nth-child(2) {-ms-grid-row:1;-ms-grid-column:2;
}

.main__sliderWrapperItemsPosition > div > div:first-child {
    width: 99px;
    padding: 0;
    padding: initial;
    height: 65px;
}

.main__sliderWrapperItemsPosition > div > div:nth-child(2) {
    width: 100%;
    padding-left: 7px;
}

	.main__sliderWrapperItemsPosition > div + ul li{
    padding-left: 32px;
    background-size: 19.6px;
    background-position: 2px -2px;
}

.main__sliderWrapperItemsPosition a {
    line-height: 1.2;
}

.main__sliderWrapperItemsPosition a::after {
    right: 55px;
}
	
	#main__productCategory{
    padding-top: 60px;
    margin-bottom: 62px;
}

.main__sectionTitle {
    padding-left: 96px;
}
	#main__productCategory > h2, #main__ourOffers h2{
    text-align: left;
    font-size: 2.128em;
    letter-spacing: -0.1px;
}
    /* --the maine product category - end */
    
    /* --the the maine product category slider - start */
	#section__slider{
    height: 530px;
}

.section__menuDelivery {
    height: 347px;
    padding-bottom: 0;
}
    /* --the the maine product category slider - end */
    
    /* -- The maine our offers - start */
	.main__offer{
    width: 290px;
    grid-row-gap: 10px;
    row-gap: 10px;
    padding: 0;
    padding: initial;
    il: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
}
	
	#main__ourOffers h2{
    -ms-grid-column-align: initial;
        justify-self: initial;
}
	
    /* -- The maine our offers - end */
	#main > section.main__headerNav:nth-child(3){margin-bottom: 59px; }
	
	.main__offer > div:first-child{
    width: 262px;
    height: 160px;
    margin: initial;
    padding: 0;
    padding: initial;
    display: inline-block;
    margin: 10px;
}
												 
    /* -- The maine article - start */
    /* -- The maine article - end */

    /* -- The maine form write us - start */
    /* -- The maine form write us - end */
   
/* The MAIN STYLE - end*/
    
/* The FOOTER STYLE - start */
    
    /*-- The cocial  network - start */
    /*-- The cocial  network - end */

    /*-- The site autor - start */
    /*-- The site autor - end */

/* The FOOTER STYLE - end */
}

/* The COMMON-STYLE - start */

/* The COMMON-STYLE - and */

/* The HEADER-STYLE - start */

/* --header-logo-style - start */

/* --header-logo-style - end */

/* --header-nav-style - start */

/* --header-nav-style - end */

/* --header-langusge-style - start */

/* --header-langusge-style - end */

/* --header-contact-style - start */

/* --header-contact-style - end */

/* --header-form_search-style - start */

/* --header-form_search-style - end */

/* --header-shopping_cart-style - start */

/* --header-shopping_cart-style - end */

/* The HEADER-STYLE - end */

/* The NAV CATALOG STYLE - start*/

/* The NAV CATALOG STYLE - end*/

/* The NAV MENU DELIVERY STYLE - start*/

/* The NAV MENU DELIVERY STYLE - end*/

/* The MAIN STYLE - start*/

/* --the maine menu - start */

/* --the maine menu - end */

/* --the maine product category - start */

/* --the maine product category - end */

/* --the the maine product category slider - start */

/* --the the maine product category slider - end */

/* -- The maine our offers - start */

/* -- The maine our offers - end */

/* -- The maine article - start */

/* -- The maine article - end */

/* -- The maine form write us - start */

/* -- The maine form write us - end */

/* The MAIN STYLE - end*/

/* The FOOTER STYLE - start */

/*-- The cocial  network - start */

/*-- The cocial  network - end */

/*-- The site autor - start */

/*-- The site autor - end */

/* The FOOTER STYLE - end */
/*# sourceMappingURL=screen-style-dist.css.map */